<div>
    <h2>modifier un travail</h2>  
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="Titre"  nzRequired nzTooltipTitle="What do you want other to call you" >
                <span>Titre</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="votre Titre!">
                <input nz-input id="Titre" formControlName="Titre" />
            </nz-form-control>
        </nz-form-item>

      
       
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="Description"  nzRequired nzTooltipTitle="What do you want other to call you" >
                <span>Description</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="votre Description!">
                <editor apiKey="8td5ul2wc26xra2v25z7of2e63hg8gg3cf1f7egl0nj288h8"
                  id="tiny-editor"
                  formControlName="Description"
                  [init]="{
                    plugins: 'link image code',
                    toolbar: 'undo redo | bold italic | alignleft aligncenter alignright | code'
                  }"
                ></editor>
              </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="pieces"  nzRequired nzTooltipTitle="What do you want other to call you" >
                <span>Pièces</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="vos pieces!">
                <nz-select id="pieces" [(ngModel)]="multipleValue" [ngModelOptions]="{standalone: true}" [nzSize]="size" nzMode="multiple" nzPlaceHolder="Please select">
                    <nz-option *ngFor="let option of pieces" [nzLabel]="option.Titre" [nzValue]="option.ID"></nz-option>
                  </nz-select>
            </nz-form-control>
        
        </nz-form-item>

      
        <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">modifier</button>
        </nz-form-control>
        </nz-form-item>
    </form>
</div>