<div>
    <h2>Produits</h2>  
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="Label"  nzRequired nzTooltipTitle="What do you want other to call you" >
                <span>Désignation</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="votre Label!">
                <input nz-input id="Label" formControlName="Label" />
            </nz-form-control>
        </nz-form-item>

        <!--
        
         <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="Type"  nzRequired nzTooltipTitle="Type de gamme" >
                <span>Type de produit</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <nz-select id="Type" formControlName="Type"  nzPlaceHolder="Type" >
                    <ng-container *ngFor="let groupName of groupedTypeKeys()">
                        <nz-option-group [nzLabel]="groupName">
                        <nz-option
                            *ngFor="let type of groupedTypes[groupName]"
                            [nzValue]="type.slug"
                            [nzLabel]="type.label">
                        </nz-option>
                        </nz-option-group>
                    </ng-container>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        -->
       <div nz-row>
            <div nz-col nzSpan="6" nzOffset="4">
                <nz-form-item>
                    <nz-form-label [nzSm]="24" [nzXs]="24"  nzFor="current_group" class="a-start" nzRequired nzTooltipTitle="Catégorie" >
                        <span>Catégorie </span>
                    </nz-form-label>
                    <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="remplissez ce champ">
                        <nz-select formControlName="current_group" (ngModelChange)="onGroupChange($event)" nzPlaceHolder="Sélectionner un groupe">
                            <nz-option 
                                *ngFor="let groupName of groupedTypeKeys()" 
                                [nzLabel]="groupName" 
                                [nzValue]="groupName">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                
            </div>
            <div nz-col nzSpan="13" nzOffset="1">
                <nz-form-item>
                    <nz-form-label [nzSm]="24" [nzXs]="24"  nzFor="Type" class="a-start" nzRequired nzTooltipTitle="Type de gamme" >
                        <span>Type de produit </span>
                    </nz-form-label>
                    <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="remplissez ce champ">
                        <nz-radio-group formControlName="Type" style="display: flex; flex-direction: column;">
                            <label nz-radio *ngFor="let type of filteredTypes()" [nzValue]="type.slug">
                                {{ type.label }}
                            </label>
                        </nz-radio-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        

        

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="TravailID"  nzRequired >
                <span>Travail associé</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <nz-select id="TravailID" formControlName="TravailID"  nzPlaceHolder="Travail" >
                    <nz-option *ngFor="let option of travaux" [nzValue]="option.ID" [nzLabel]="option.Titre"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item >
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="PrixFournisseur" nzRequired >
                <span>Prix du fournisseur</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <nz-input-number id="PrixFournisseur" formControlName="PrixFournisseur"  ></nz-input-number> 
            </nz-form-control>
        </nz-form-item>

        <nz-form-item >
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="PrixPose" nzRequired >
                <span>Prix de pose</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <nz-input-number id="PrixPose" formControlName="PrixPose"  ></nz-input-number> 
            </nz-form-control>
        </nz-form-item>

        <nz-form-item >
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="Prix" nzRequired >
                <span>Prix</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <nz-input-number id="Prix" formControlName="Prix" [nzDisabled]="true" ></nz-input-number> 
            </nz-form-control>
        </nz-form-item>

        

        
        <nz-form-item >
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="Image"  >
                <span>Image</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <input type="text" id="Image" formControlName="Image" hidden />
                <input type="file" accept=".png,.jpeg,.jpg"  [attr.maxFileSize]="10 * 1024 * 1024" nz-upload  (change)="handleFileInput($event)" /> 
                Formats autorisés: .png, .jpeg, .jpg et taille < 10 MB          
            </nz-form-control>
        </nz-form-item>
        <nz-form-item >
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="Pdf"  >
                <span>Pdf</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <input type="text" id="Pdf" formControlName="Pdf" hidden />
                <input type="file" accept=".pdf"  [attr.maxFileSize]="10 * 1024 * 1024" nz-upload  (change)="handleFileInput2($event)" /> 
                Formats autorisés: .pdf et taille < 10 MB          
            </nz-form-control>
        </nz-form-item>

       <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="Etape" nzRequired>
                <span>Étape </span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <nz-select id="Etape" formControlName="Etape">
                    <nz-option *ngFor="let element of filteredList"  [nzValue]="element" [nzLabel]="element"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="ActiverPrixMultiples" >
                <span>Activer les prix multiples ? </span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <nz-switch id="ActiverPrixMultiples" formControlName="ActiverPrixMultiples"></nz-switch>
            </nz-form-control>
        </nz-form-item>

        <div class="center" *ngIf="activerPrixMultiples()"><u>Ajouter des prix pour plusieurs appareils</u></div>
       <!-- ⚡ CHAMPS DYNAMIQUES (Appareils et Prix) -->
       <div formArrayName="PrixMultiples" *ngIf="activerPrixMultiples()">
            <nz-form-item *ngFor="let appareil of appareils.controls; let i = index"  [formGroupName]="i" class="appareils-layout" >
                <nz-form-label  nzFor="appareilNom-{{i}}" nzRequired>
                    <span>Nom de l'appareil</span>
                </nz-form-label>
                <nz-form-control >
                    <input nz-input id="appareilNom-{{i}}" formControlName="nom" />
                </nz-form-control>

                <nz-form-label  nzFor="appareilPrix-{{i}}" nzRequired>
                    <span>Prix</span>
                </nz-form-label>
                <nz-form-control >
                    <nz-input-number id="appareilPrix-{{i}}" formControlName="prix"></nz-input-number>
                </nz-form-control>

                <nz-form-control >
                    <a  (click)="removeAppareil(i)">Supprimer</a>
                </nz-form-control>
            </nz-form-item>

            <!-- Bouton pour ajouter un nouvel appareil -->
            <nz-form-item class="center">
                <nz-form-control >
                    <a (click)="addAppareil()">➕ Ajouter un appareil</a>
                </nz-form-control>
            </nz-form-item>
       </div>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="ActiverFournisseur" >
                <span>Cet article est-il lié à un fournisseur ? </span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <nz-switch id="ActiverFournisseur" formControlName="ActiverFournisseur"></nz-switch>
            </nz-form-control>
        </nz-form-item>

       <nz-form-item *ngIf="activerFournisseur()">
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="FournisseurID"  >
                <span>Fournisseur</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <nz-select id="FournisseurID" formControlName="FournisseurID"  nzPlaceHolder="Fournisseur" >
                    <nz-option *ngFor="let option of fournisseurs" [nzValue]="option.Id" [nzLabel]="option.Nom+' '+option.Prenom+' ('+option.RaisonSociale+')'"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

         <nz-form-item *ngIf="activerFournisseur()">
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="GammeDeReferenceID"  >
                <span>Gamme de référence</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <nz-input-number id="GammeDeReferenceID" formControlName="GammeDeReferenceID"  ></nz-input-number> 
            </nz-form-control>
        </nz-form-item>

      
        <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">Créer</button>
        </nz-form-control>
        </nz-form-item>
    </form>
</div>