.appareils-layout{
    max-width: 866px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1.5fr 0.5fr 1.5fr 0.5fr;
    display: grid;
}
.appareils-layout .ant-input,.appareils-layout nz-input-number {
    width: 90%;
}
.center{
    max-width: 866px;
    margin-left: auto;
    margin-right: auto;
}

.group-title{
    display: flex;
    color: black;
    width: 200px;
    margin-bottom: 23px;
    font-weight: bolder;
    line-height: 20px;
    font-size: 15px;
    height: 22px;
}

.parent-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}
.boxes{
    display: flex;
    flex-direction: column;
}