<div class="width-800">
    <h1 class="ttl-recap">Installation de nouveaux équipements sanitaires
    </h1>
        
        <form *ngIf="formulaire" [formGroup]="formulaire" (ngSubmit)="submit()" >
            
            
            <div formArrayName="appareils_salle_de_bain_form" class="">
                <div *ngFor="let appareilGroup of appareils_salle_de_bain; let i = index" [formGroupName]="i">
                  
                   <div class="div-chauf-gm"><h3 class="ttl-type jaune">{{appareils_salle_de_bain && appareils_salle_de_bain[i] ? appareils_salle_de_bain[i].Titre : ""}}</h3></div> 
                        <div class="flex-2">
                            <div>
                                <div *ngIf="appareils_salle_de_bain[i].AfficherLongueur" class="flx-radio-row2">
                                    <label for="longueur">Longueur (cm) :</label>
                                    <input   id="longueur" type="number" formControlName="longueur" min="0"/>     
                                </div>  
                                <div *ngIf="appareils_salle_de_bain[i].AfficherLargeur" class="flx-radio-row2">
                                    <label for="largeur">Largeur (cm) :</label>
                                    <input   id="largeur" type="number" formControlName="largeur" min="0"/>     
                                </div>  
                                <div  *ngIf="appareils_salle_de_bain[i].AfficherVasque" class="flx-radio-row2">
                                    <label for="nombre_de_vasque">Nombre de vasque :</label>
                                    <input   id="nombre_de_vasque" type="number" formControlName="nombre_de_vasque" min="0"/>     
                                </div>  
                
                                <div nz-col  *ngIf="appareils_salle_de_bain[i].AfficherEncastreeApparente" class="flx-radio-row2">
                                    <label for="encastre_ou_apparente">Encastré ou apparente  ?</label>
                                    <nz-radio-group formControlName="encastre_ou_apparente" nzName="radiogroup" class="sidebyside">
                                      <label nz-radio nzValue="encastré">Encastré</label>
                                      <label nz-radio nzValue="apparente">Apparente</label>
                                    </nz-radio-group>
                                </div> 
                            </div>
                            <div class="flx-radio-row2">
                                <div class="">
                                    <label class=""> Gamme :</label>  
                                </div>
                                <nz-radio-group formControlName="modele" class="">
                                    <div nz-col nzJustify="start" *ngFor="let modele of appareilGroup.ModeleEquipements">
                                        <div nz-col class="">
                                            <label nz-radio [nzValue]="modele.ID + ':' + modele.Titre + ':' + modele.Prix">
                                            <span>
                                                {{modele.Titre}}
                                            </span>
                                            </label>
                                        </div>
                                        
                                    </div>
                                </nz-radio-group>
                            </div>
                          
                      </div>
                        
                      
                  
                </div>
              </div>
              
              <div  class="renov-elec-div">
                <span class="mur-ttl">
                    Dépose d'anciennes installations
                </span>
            </div>

              <div formArrayName="gammes_depose_form">
                <div *ngFor="let gamme of gammes_depose_form.controls; let i = index" [formGroupName]="i" class="flx-radio-row2">
                    <div >
                        <strong>
                          {{ gamme.get('titre')?.value }}
                        </strong>
                      </div>
                      <input type="number" formControlName="quantite" placeholder="Quantité" />
                        
                     
                  
                  
                  
                </div>
              </div>
              
           
              
              
           
       


       
              <div class="grid-btn-action">
                <button nz-button nzType="primary" class="positive-action mb-5" type="submit">Tester</button>
                <button *ngIf="edit_mode" nz-button nzType="primary" class="positive-action mb-5" (click)="modifier()">Enregistrer</button>

            </div>
              
              <ng-container *ngIf="detailsCalcul">
                  <div>
                    <span>Prix: {{ detailsCalcul.resultats[element.TravailSlug]?.prix }} €</span><br>
                    <span>Formule: </span><br>
                    <span [innerHTML]="detailsCalcul.resultats[element.TravailSlug]?.formule"></span>
                  </div>
              </ng-container>
              
            </form>
            
            
            </div>