<div>
    <h2>Modifier une piece</h2>   
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="Titre">Titre</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Titre!">
            <input nz-input formControlName="Titre" id="Titre" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="Presentation">Présentation</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Présentation!">
              <textarea rows="4" nz-input formControlName="Présentation"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Description</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Description!">
              <textarea rows="6" nz-input formControlName="Description"></textarea>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item >
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="Image_principale"  >
                <span>Icone principale</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <input type="text" id="Image_principale" formControlName="Image_principale" hidden />
                <input type="file" accept=".png,.jpeg,.jpg,.svg,.webp"  [attr.maxFileSize]="10 * 1024 * 1024" nz-upload  (change)="handleFileInput($event)" />                
                Formats autorisés: .png, .jpeg, .jpg et taille < 10 MB     
            </nz-form-control>
        </nz-form-item>

        <nz-form-item >
          <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="Image_presentation"  >
              <span>Image principale</span>
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
              <input type="text" id="Image_presentation" formControlName="Image_presentation" hidden />
              <input type="file" accept=".png,.jpeg,.jpg,.svg,.webp"  [attr.maxFileSize]="10 * 1024 * 1024" nz-upload  (change)="handleFileInput2($event)" />                
              Formats autorisés: .png, .jpeg, .jpg et taille < 10 MB     
          </nz-form-control>
      </nz-form-item>
        
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="GalerieID"  >
                <span>Galerie</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <nz-select id="GalerieID" formControlName="GalerieID"  nzPlaceHolder="Galerie d'images" >
                    <nz-option *ngFor="let option of galeries" [nzValue]="option.ID" [nzLabel]="option.Titre"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="categories"  nzRequired nzTooltipTitle="What do you want other to call you" >
                <span>Categories</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="vos Categories!">
                <nz-select id="categories" [(ngModel)]="multipleValue" [ngModelOptions]="{standalone: true}" [nzSize]="size" nzMode="multiple" nzPlaceHolder="Please select">
                    <nz-option *ngFor="let option of categories" [nzLabel]="option.Titre" [nzValue]="option.ID"></nz-option>
                  </nz-select>
            </nz-form-control>
        
        </nz-form-item>

        <nz-form-item nz-row class="register-area">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">Modifier</button>
          </nz-form-control>
        </nz-form-item>
      </form>
</div>