<div>
    <h1>Projet nº{{project?.Id}} de {{project?.Utilisateur.Nom}} {{project?.Utilisateur.Prenom}}</h1>  
    <div class="visite-box" >
      <h2>Statut</h2> 
      <div nz-row [nzGutter]="16">
        <div nz-col class="gutter-row" [nzSpan]="4">
          <div class="inner-box">
            Visite réglée<br>
            <label nz-checkbox [(ngModel)]="paiement_visite">le {{date_paiement_visite | date:'dd/MM/yyyy'}}</label>
          </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="4">
          <div class="inner-box">
            Visite programmée<br>
            <label nz-checkbox [(ngModel)]="programmation_visite">le {{date_programmation_visite | date:'dd/MM/yyyy'}}</label>
          </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="4">
          <div class="inner-box">
            Projet validé<br>
            <label nz-checkbox [(ngModel)]="projet_valide">le {{date_validation_projet | date:'dd/MM/yyyy'}}</label>
          </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="4">
          <div class="inner-box">
            Autoriser le paiement<br>
            <nz-switch [(ngModel)]="paiement_autorise"></nz-switch>
          </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="4">
          <div class="inner-box">
            Acompte payé<br>
            <label nz-checkbox [(ngModel)]="acompte_paye">le {{date_paiement_acompte | date:'dd/MM/yyyy'}}</label>
          </div>
        </div>
      </div>
      <div nz-row [nzGutter]="16" style="margin-top: 10px;">
        <div nz-col class="gutter-row" [nzSpan]="4">
          <div class="inner-box">
            Travaux démarrés<br>
            <label nz-checkbox [(ngModel)]="travaux_demarres"></label>
          </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="4">
          <div class="inner-box">
            Travaux en cours<br>
            <label nz-checkbox [(ngModel)]="travaux_en_cours"></label>
          </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="4">
          <div class="inner-box">
            Travaux achevés<br>
            <label nz-checkbox [(ngModel)]="travaux_acheves"></label>
          </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="4">
          <div class="inner-box">
            Travaux livrés<br>
            <label nz-checkbox [(ngModel)]="travaux_livres"></label>
          </div>
        </div>
      </div>

    </div>
    

    <div class="visite-box" *ngIf="project?.Visite">
      <h2>Visite du technicien</h2>
    
      <span style="margin-right: 10px;">> Programmer une date de visite :</span>
      <nz-date-picker style="margin-right: 10px;margin-bottom: 10px;" nzShowTime [(ngModel)]="date_de_programmation" [nzDisabledDate]="disableBeforeToday"></nz-date-picker>
      <button nz-button nzType="primary" (click)="add_visite_date()">valider</button><br>
      <span style="margin-right: 10px;">> Envoyer le devis final au client :</span>
      <button nz-button nzType="primary" [nzLoading]="isLoadingvisit_ended" (click)="loadvisit_ended()">valider</button>

      <br>
      <textarea rows="4" nz-input [(ngModel)]="notes_remarques" placeholder="Notes / remarques" style="margin-top: 10px;"></textarea> 
    </div>

    <div class="visite-box" *ngIf="project?.Devis">
      <h2>Devis</h2>
      <span *ngFor="let devis of project?.Devis">
        <a [routerLink]="['/administration', 'devis-pieces', 'modifier-devis-piece',devis.ID]" style="color:black;text-decoration: underline;">Devis {{devis.ID}}</a><br>
      </span>
      
    </div>

    <div class="visite-box">
      <h2>Artisans</h2>
      <nz-checkbox-group [(ngModel)]="checkOptionsOne" (ngModelChange)="add_artisan(checkOptionsOne)"></nz-checkbox-group>

    </div>



    


    <div class="visite-box">
      <div class="visite-title">Paiement</div>
      <nz-table #nzTable2 [nzData]="paiements" [nzShowPagination]="'false'" nzTableLayout="fixed" >
        <thead>
          <tr>
            
            <th>ID</th>
            <th>Type de paiement</th>
            <th>Type</th>
            <th>Montant</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          
            <tr *ngFor="let data of nzTable2.data">
              <td>{{ data.ID }}</td>
              <td>{{ data.TypeDePaiement }}  </td>
              <td>{{ data.Type }}</td>
              <td>{{ data.Montant }} € </td>
              <td>{{ data.Date | date:'dd/MM/yyyy HH:mm:ss'}}  </td>
              <td> 
                <button nz-button nzType="primary" class="negative-action mb-5"  title="supprimer"  nz-popconfirm
                nzPopconfirmTitle="Voulez-vous vraiment supprimer ce paiement ?"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="deletePaiement(data.ID)"
                (nzOnCancel)="cancel()" ><span nz-icon nzType="delete"></span></button>
              </td>
            </tr>
           
            
        </tbody>
      </nz-table>
      <br><br>
      <form nz-form [formGroup]="paiementForm" (ngSubmit)="submitpaiementForm()">
        <!-- Type de Paiement -->
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzRequired nzFor="TypeDePaiement">Type de Paiement</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Veuillez sélectionner un type de paiement!">
            <nz-select id="TypeDePaiement" formControlName="TypeDePaiement" nzPlaceHolder="Sélectionner">
              <nz-option nzValue="virement" nzLabel="Virement"></nz-option>
              <nz-option nzValue="en ligne" nzLabel="En ligne"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      
        <!-- Type -->
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzRequired nzFor="Type">Type</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Veuillez sélectionner un type!">
            <nz-select id="Type" formControlName="Type" nzPlaceHolder="Sélectionner">
              <nz-option nzValue="visite" nzLabel="Visite"></nz-option>
              <nz-option nzValue="acompte" nzLabel="Acompte"></nz-option>
              <nz-option nzValue="échéance" nzLabel="Échéance"></nz-option>
              <nz-option nzValue="solde final" nzLabel="Solde Final"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      
        <!-- Montant -->
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzRequired nzFor="Montant">Montant</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Veuillez entrer un montant!">
            <nz-input-number id="Montant" formControlName="Montant"  ></nz-input-number> 
          </nz-form-control>
        </nz-form-item>
      
        
      
        <!-- Bouton de soumission -->
        <nz-form-item>
          <nz-form-control [nzSpan]="12" [nzOffset]="5">
            <button nz-button nzType="primary" [disabled]="paiementForm.invalid">Ajouter un paiement</button>
          </nz-form-control>
        </nz-form-item>
      </form>
      
      <br>
    </div>

        <button nz-button nzType="primary" (click)="loadSave()" [nzLoading]="isLoadingSave" class="fixed_saving">Enregistrer</button>

</div>