<div>
    <h1>Projet nº{{project?.Id}} de {{project?.Utilisateur.Nom}} {{project?.Utilisateur.Prenom}}</h1>  
    <div class="visite-box" >
      <h2>Statut</h2> 
      <div nz-row [nzGutter]="16">
        <div nz-col class="gutter-row" [nzSpan]="4">
          <div class="inner-box">
            Visite réglée<br>
            <label nz-checkbox [(ngModel)]="paiement_visite">le {{date_paiement_visite | date:'dd/MM/yyyy'}}</label>
          </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="4">
          <div class="inner-box">
            Visite programmée<br>
            <label nz-checkbox [(ngModel)]="programmation_visite">le {{date_programmation_visite | date:'dd/MM/yyyy'}}</label>
          </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="4">
          <div class="inner-box">
            Projet validé<br>
            <label nz-checkbox [(ngModel)]="projet_valide">le {{date_validation_projet | date:'dd/MM/yyyy'}}</label>
          </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="4">
          <div class="inner-box">
            Acompte payé<br>
            <label nz-checkbox [(ngModel)]="acompte_paye">le {{date_paiement_acompte | date:'dd/MM/yyyy'}}</label>
          </div>
        </div>
      </div>
      <div nz-row [nzGutter]="16" style="margin-top: 10px;">
        <div nz-col class="gutter-row" [nzSpan]="4">
          <div class="inner-box">
            Travaux démarrés<br>
            <label nz-checkbox [(ngModel)]="travaux_demarres"></label>
          </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="4">
          <div class="inner-box">
            Travaux en cours<br>
            <label nz-checkbox [(ngModel)]="travaux_en_cours"></label>
          </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="4">
          <div class="inner-box">
            Travaux achevés<br>
            <label nz-checkbox [(ngModel)]="travaux_acheves"></label>
          </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="4">
          <div class="inner-box">
            Travaux livrés<br>
            <label nz-checkbox [(ngModel)]="travaux_livres"></label>
                <nz-date-picker *ngIf="travaux_livres"  [(ngModel)]="date_travaux_livres" [nzDisabledDate]="disabledDate"
 (ngModelChange)="onChange($event)"></nz-date-picker>

          </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="4" *ngIf="travaux_livres">
          <div class="inner-box">
            Fin de GPA<br>
            <label nz-checkbox [(ngModel)]="fin_gpa"></label>
                <nz-date-picker [(ngModel)]="date_fin_gpa" [nzDisabledDate]="disabledDate" (ngModelChange)="onChange($event)"></nz-date-picker>

          </div>
        </div>
      </div>

    </div>
    

    <div class="visite-box" *ngIf="project?.Visite">
      <h2>Visite du technicien</h2>
    
      <span style="margin-right: 10px;">> Programmer une date de visite :</span>
      <nz-date-picker style="margin-right: 10px;margin-bottom: 10px;" nzShowTime [(ngModel)]="date_de_programmation" [nzDisabledDate]="disableBeforeToday"></nz-date-picker>
      <button nz-button nzType="primary" (click)="add_visite_date()">valider</button><br>
      <span style="margin-right: 10px;">> Envoyer le devis final au client :</span>
      <button nz-button nzType="primary" [nzLoading]="isLoadingvisit_ended" (click)="loadvisit_ended()">valider</button>

      <br><br>
      <div nz-row>
        <nz-form-label [nzSpan]="5"  nzFor="Commentaire" nzTooltipTitle="Ce commentaire sera ajouté au mail envoyé au client"
        [nzTooltipIcon]="visiteTooltipIcon">Commentaire</nz-form-label>
        <div nz-col  nzSpan="18">
          <textarea  id="CommentaireVisite" rows="4" style="width:100%;margin-top: 10px;" nz-input [(ngModel)]="notes_remarques" placeholder="Notes / remarques" ></textarea> 
        </div>
      </div>
      
    </div>

    <div class="visite-box" *ngIf="project?.Devis">
      <h2>Devis</h2>
      <span *ngFor="let devis of project?.Devis">
        <a [routerLink]="['/administration', 'devis-pieces', 'modifier-devis-piece',devis.ID]" style="color:black;text-decoration: underline;">Devis {{devis.ID}}</a><br>
      </span>
      
    </div>



    


    <div class="visite-box">
      <div class="visite-title">Paiement</div>
      <nz-table #nzTable2 [nzData]="paiements" [nzShowPagination]="'false'" nzTableLayout="fixed" >
        <thead>
          <tr>
            
            <th>Titre</th>
            <th>Type de paiement</th>
            <th>Type</th>
            <th>Montant</th>
            <th>Date</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          
            <tr *ngFor="let data of nzTable2.data">
              <td>{{ data.Titre  ? data.Titre  : 'Pas de titre' }} </td>
              <td>{{ data.TypeDePaiement }}  </td>
              <td>{{ data.Type }}</td>
              <td>{{ data.Montant }} € </td>
              <td>{{ data.Date | date:'dd/MM/yyyy HH:mm:ss'}}  </td>
              <td> 
                <span *ngIf="data.Status" nz-icon nzType="check" style="font-size: 16px; color: rgb(0, 204, 34);" nzTheme="outline"></span>
                <span *ngIf="!data.Status" nz-icon nzType="close" style="font-size: 16px; color: rgb(242, 38, 23)" nzTheme="outline"></span>
           
              </td>
              <td> 

                <button *ngIf="data.Requette == 'demande'" nz-button nzType="primary" class=" mb-5"  title="renvoyer"  nz-popconfirm
                nzPopconfirmTitle="Voulez-vous vraiment renvoyer cette demande de paiement ?"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="ressendPaiement(data.ID)"
                (nzOnCancel)="cancel()" ><span nz-icon nzType="send" nzTheme="outline"></span></button>

                <button *ngIf="data.Requette == 'demande'" nz-button nzType="default" class=" mb-5"  title="changer de statut"  nz-popconfirm
                  nzPopconfirmTitle="Voulez-vous vraiment valider ce paiement ?"
                  nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="update_status_demande_paiement(data.ID)"
                  (nzOnCancel)="cancel()" >
                    <span *ngIf="!data.Status" nz-icon nzType="check-circle" nzTheme="outline"></span>
                    <span *ngIf="data.Status" nz-icon nzType="close" nzTheme="outline"></span>
                </button>

                <button *ngIf="data.Requette == 'demande'" nz-button nzType="default" nzDanger class="negative-action mb-5"  title="supprimer"  nz-popconfirm
                nzPopconfirmTitle="Voulez-vous vraiment supprimer cette demande de paiement ?"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="deletePaiement(data.ID)"
                (nzOnCancel)="cancel()" ><span nz-icon nzType="delete"></span></button>
              </td>
            </tr>
           
            
        </tbody>
      </nz-table>
      <br><br>
      <form nz-form [formGroup]="paiementForm" (ngSubmit)="submitpaiementForm()">
        <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="Titre" nzRequired>Titre</nz-form-label>
        <nz-form-control  [nzSpan]="12" nzErrorTip="Please input Titre!">
          <input nz-input id="Titre" formControlName="Titre" placeholder="Titre" />
        </nz-form-control>
      </nz-form-item>
        <!-- Type de Paiement -->
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzRequired nzFor="TypeDePaiement">Type de Paiement</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Veuillez sélectionner un type de paiement!">
            <nz-select id="TypeDePaiement" formControlName="TypeDePaiement" nzPlaceHolder="Sélectionner">
              <nz-option nzValue="virement" nzLabel="Virement"></nz-option>
              <nz-option nzValue="en ligne" nzLabel="En ligne"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      
        <!-- Type -->
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzRequired nzFor="Type">Type</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Veuillez sélectionner un type!">
            <nz-select id="Type" formControlName="Type" nzPlaceHolder="Sélectionner">
              <nz-option nzValue="visite" nzLabel="Visite"></nz-option>
              <nz-option nzValue="acompte" nzLabel="Acompte"></nz-option>
              <nz-option nzValue="échéance" nzLabel="Échéance"></nz-option>
              <nz-option nzValue="solde final" nzLabel="Solde Final"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      
        <!-- Montant -->
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzRequired nzFor="Montant">Montant</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Veuillez entrer un montant!">
            <nz-input-number id="Montant" formControlName="Montant"  ></nz-input-number> 
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzRequired nzFor="Commentaire" nzTooltipTitle="Ce commentaire sera intégré au mail envoyé au client"
          [nzTooltipIcon]="paiementTooltipIcon">Commentaire</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Veuillez entrer un Commentaire!">
            <textarea rows="4" id="Commentaire" formControlName="Commentaire" style="width:100%"></textarea>
          </nz-form-control>
        </nz-form-item>
        
      
        <!-- Bouton de soumission -->
        <nz-form-item>
          <nz-form-control [nzSpan]="12" [nzOffset]="5">
            <button nz-button nzType="primary" [disabled]="paiementForm.invalid">Ajouter une demande de paiement</button>
          </nz-form-control>
        </nz-form-item>
      </form>
      
      <br>
    </div>
















        <button nz-button nzType="primary" (click)="loadSave()" [nzLoading]="isLoadingSave" class="fixed_saving">Enregistrer</button>

</div>