
  
  <nz-layout>
    <nz-sider nzCollapsible nzBreakpoint="md" [nzWidth]="300" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="logo">
        <a href="/" target="_blank">
          <img src="https://dev.homeren.fr/admin/assets/img/C&TLOGO.jpg" alt="logo">
        </a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu nzOpen nzTitle="Projets & Devis" nzIcon="schedule">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/administration/projets">Liste des projets</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/administration/devis-pieces">Listes des devis</a>
            </li>
            <!--
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/administration/etapes-projet">Étapes du projet</a>
            </li>
           
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/administration/besoins-projet">Services du projet</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/administration/points-cles">Points clés du projet</a>
            </li>-->
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="Pièces et travaux" nzIcon="home">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/administration/pieces">Liste des pièces</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/administration/travaux">Liste des travaux</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/administration/modeles-equipements">Liste des équipements</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/administration/gammes">Liste des gammes</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/administration/taches-generales">Liste des tâches au forfait</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/administration/categories-piece">Catégories de pièces</a>
            </li>
           
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/administration/equipements">Catégories d'équipements</a>
            </li>
            
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/administration/etapes-devis">Nota Bene</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="Réalisations" nzIcon="picture">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/administration/realisations">Liste des realisations</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/administration/galeries">Liste des galeries</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="FAQ" nzIcon="question-circle">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/administration/questions">Liste des questions</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/administration/categories-question">Catégories de questions</a>
            </li>
            
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="Avis" nzIcon="star">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/administration/avis">Liste des avis</a>
            </li>
          </ul>
        </li>



        <li nz-submenu nzOpen nzTitle="Administration" nzIcon="dashboard">
          <ul>
            <li *ngIf="isAdminorSuperAdmin()" nz-menu-item nzMatchRouter>
              <a routerLink="/administration/autorisations">Autorisations</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/administration/comptes">Comptes</a>
            </li>
            <li *ngIf="isAdminorSuperAdmin()" nz-menu-item nzMatchRouter>
              <a routerLink="/administration/roles">Roles</a>
            </li>
            <li *ngIf="isAdminorSuperAdmin()" nz-menu-item nzMatchRouter>
              <a routerLink="/administration/front-pages">Pages du site (seo)</a>
            </li>
          </ul>
        </li>
        
        
        
        

       
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <span
          class="trigger"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed"
        ></span>
        <div class="logout-zone">
          <button nz-button nzType="default" (click)="logout()">
            <span nz-icon nzType="logout"></span>
            Se déconnecter
          </button>
        </div>
      </nz-header>
      <nz-content>
     
        <router-outlet></router-outlet>
      </nz-content>
      <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
    </nz-layout>
  </nz-layout>