<div>
    <h2>Détails du client</h2>  
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="RoleId"  nzRequired >
                <span>Rôle</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <nz-select id="RoleId" formControlName="RoleId"  nzPlaceHolder="Rôle" [nzDisabled]="isnotAdminorSuperadmin()">
                    <nz-option *ngFor="let option of roles" [nzValue]="option.Id" [nzLabel]="option.Titre"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="Nom"  nzRequired nzTooltipTitle="What do you want other to call you" >
                <span>Nom</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="votre Nom!">
                <input nz-input id="Nom" formControlName="Nom" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="Prenom"  nzRequired nzTooltipTitle="What do you want other to call you" >
                <span>Prénom</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="votre prenom!">
                <input nz-input id="Prenom" formControlName="Prenom" />
            </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="Email">E-mail</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
            <input nz-input formControlName="Email" id="Email" />
        </nz-form-control>
        </nz-form-item>
       
       
        <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Telephone" nzRequired>Téléphone</nz-form-label>
        <nz-form-control
            [nzSm]="14"
            [nzXs]="24"
            [nzValidateStatus]="validateForm.controls['Telephone']"
            nzErrorTip="Please input your phone number!"
        >
            <nz-input-group>
            
            <input formControlName="Telephone" id="'Telephone'" nz-input />
            </nz-input-group>
        </nz-form-control>
        </nz-form-item>
       
        <nz-form-item *ngIf="isSousTraitant()">
                <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="Adresse"  >
                    <span>Adresse</span>
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                    <input nz-input id="Adresse" formControlName="Adresse" />
                </nz-form-control>
            </nz-form-item>

        <nz-form-item *ngIf="isArtisanOrSousTraitant()">
                <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="RaisonSociale"  >
                    <span>Raison sociale</span>
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                    <input nz-input id="RaisonSociale" formControlName="RaisonSociale" />
                </nz-form-control>
            </nz-form-item>

       <nz-form-item *ngIf="isArtisanOrSousTraitant()"> 
                <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="NumeroSIRET"  >
                    <span>Numero SIRET</span>
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                    <input nz-input id="NumeroSIRET" formControlName="NumeroSIRET" />
                </nz-form-control>
            </nz-form-item>

        <nz-form-item *ngIf="isArtisanorParticulier()">
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="AdressePostale"  nzRequired>
                <span>Adresse</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <input nz-input id="AdressePostale" formControlName="AdressePostale" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="isParticulier()">
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="CodePostal"  nzRequired>
                <span>Code postale</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <input nz-input id="CodePostal" formControlName="CodePostal" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="isParticulier()">
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="CommunePostale"  nzRequired>
                <span>Commune</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <input nz-input id="CommunePostale" formControlName="CommunePostale" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="isArtisanOrSousTraitant()">
                <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="Activite"  >
                    <span>Activite</span>
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                    <input nz-input id="Activite" formControlName="Activite" />
                </nz-form-control>
            </nz-form-item>

        <nz-form-item *ngIf="isArtisanOrSousTraitant()">
                <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="CA"  >
                    <span>CA</span>
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                    <nz-input-number id="CA" formControlName="CA" ></nz-input-number> 
                </nz-form-control>
            </nz-form-item>
    
            <nz-form-item *ngIf="isArtisanOrSousTraitant()">
                <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="Effectif"  >
                    <span>Effectif</span>
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                    <nz-input-number id="Effectif" formControlName="Effectif"></nz-input-number> 
    
                </nz-form-control>
            </nz-form-item>
    
            <nz-form-item *ngIf="isArtisanOrSousTraitant()">
                <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="References"  >
                    <span>References</span>
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                    <textarea rows="4" nz-input id="References" formControlName="References"></textarea> 
                </nz-form-control>
            </nz-form-item>

            <nz-form-item *ngIf="isSousTraitant()">
                <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="Qualifications"  >
                    <span>Qualifications</span>
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                    <textarea rows="4" nz-input id="Qualifications" formControlName="Qualifications"></textarea> 
                </nz-form-control>
            </nz-form-item>

        <nz-form-item *ngIf="isArtisan()">
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="QuestionnaireTarif"  >
                <span>Questionnaire tarif</span>
            </nz-form-label>
            
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <input type="text" id="QuestionnaireTarif"  formControlName="QuestionnaireTarif" hidden />
                <input type="file" nz-upload  (change)="handleFileInput($event)" accept=".png,.jpeg,.jpg,.docx,.xlsx,.pdf"  [attr.maxFileSize]="10 * 1024 * 1024"/>                
                Formats autorisés: .png, .jpeg, .jpg, .docx, .xlsx, .pdf et taille < 10 MB     
            </nz-form-control>
            <div nz-row>
                <div nz-col nzSpan="24">
                    <a target="_blank"  [href]="questionnaireTarif" *ngIf="nom_questionnaireTarif">{{nom_questionnaireTarif}} <span nz-icon nzType="download" nzTheme="outline"></span> </a><br/>
                </div>
                <div nz-col nzSpan="24">
                    <a *ngIf="nom_questionnaireTarif" (click)="clear_questionnaire_tarif()">Supprimer <span nz-icon nzType="delete" nzTheme="outline"></span></a>
                </div>
              </div>
        </nz-form-item>

         <nz-form-item *ngIf="isSousTraitant()">
                <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="ZoneGeographiqueDactivite"  >
                    <span>Zone géographique d'activité</span>
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                    <input nz-input id="ZoneGeographiqueDactivite" formControlName="ZoneGeographiqueDactivite" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item *ngIf="isSousTraitant()">
                <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="NomDirigeant"  >
                    <span>Nom du dirigeant</span>
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                    <input nz-input id="NomDirigeant" formControlName="NomDirigeant" />
                </nz-form-control>
            </nz-form-item>

        <nz-form-item *ngIf="isArtisan()">
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="AssuranceRCDecennale"  >
                <span>Assurance RCDecennale</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <input type="text" id="AssuranceRCDecennale" formControlName="AssuranceRCDecennale" hidden />
                <input type="file" accept=".png,.jpeg,.jpg,.docx,.xlsx,.pdf"  [attr.maxFileSize]="10 * 1024 * 1024" nz-upload  (change)="handleFileInput2($event)" />                
                Formats autorisés: .png, .jpeg, .jpg, .docx, .xlsx, .pdf et taille < 10 MB     
            </nz-form-control>
            <div nz-row>
                <div nz-col nzSpan="24">
                    <a target="_blank" [href]="assuranceRCDecennale" *ngIf="nom_assuranceRCDecennale">{{nom_assuranceRCDecennale}} </a><br/>
                </div>
                <div nz-col nzSpan="24">
                    <a *ngIf="nom_assuranceRCDecennale" (click)="clear_assurance_rc_decennale()">Supprimer <span nz-icon nzType="delete" nzTheme="outline"></span></a>
                </div>
              </div>
        </nz-form-item> 

        <nz-form-item *ngIf="isArtisanOrSousTraitant()">
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="KBis"  >
                <span>KBis</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <input type="text" id="KBis" formControlName="KBis" hidden />
                <input type="file" accept=".png,.jpeg,.jpg,.docx,.xlsx,.pdf"  [attr.maxFileSize]="10 * 1024 * 1024" nz-upload  (change)="handleFileInput3($event)" /> 
                Formats autorisés: .png, .jpeg, .jpg, .docx, .xlsx, .pdf et taille < 10 MB          
            </nz-form-control>
            <div nz-row>
                <div nz-col nzSpan="24">
                    <a target="_blank" [href]="kbis" *ngIf="nom_kbis">{{nom_kbis}} <span nz-icon nzType="download" nzTheme="outline"></span></a><br/>
                </div>
                <div nz-col nzSpan="24">
                    <a *ngIf="nom_kbis" (click)="clear_kbis()">Supprimer <span nz-icon nzType="delete" nzTheme="outline"></span></a>
                </div>
              </div>
              
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzFor="Commentaire">Commentaire</nz-form-label>
          <nz-form-control [nzSpan]="14" nzErrorTip="Veuillez entrer un Commentaire!">
            <textarea rows="4" id="Commentaire" formControlName="Commentaire" style="width:100%"></textarea>
          </nz-form-control>
        </nz-form-item>
        
        
       

        
        <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">Modifier</button>
        </nz-form-control>
        </nz-form-item>
    </form>
</div>