<div>
    <h2>État des projets de {{user?.Nom}}</h2>    


    <nz-table #sortTable [nzData]="devis_pieces"  nzTableLayout="fixed" [nzScroll]="{ x: '240px' }">
        <thead>
          <tr>
            <th *ngFor="let column of listOfColumn" [nzSortOrder]="column.order" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
              {{ column.title }}
            </th>
           
            <th>
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of sortTable.data" >
            <td >{{ data.Id }}</td>
            <td >{{ data.Nom }}</td>
            <td>{{ data.Date_de_creation | date:'dd/MM/yyyy '}}</td>
            <td>{{ data.Status}} </td> 
            <td>{{ getTotalHT(data.Devis) | number:'1.0-0' }} €</td>

                
            <td> 
              <button nz-button nzType="primary" class="positive-action mb-5" *ngIf="isTechAdminorSuperAdmin()" [nzSize]="size" title="modifier" [routerLink]="['/administration', 'projets', 'modifier-projet',data.Id]"><span nz-icon nzType="edit"></span></button>
              
            </td>
          </tr>
        </tbody>
    </nz-table>
</div>
