<div class="width-800">
    <h3>Remplacement de portes</h3>
        
        <form *ngIf="formulaire" [formGroup]="formulaire" (ngSubmit)="submit()" >
            <div formArrayName="portes">
                <div *ngFor="let porte of portes.controls; let i = index" [formGroupName]="i" class="mur-bloc">
                    <h4>Porte {{ i + 1 }}</h4>
                    
                    <div class="form-group" nz-col nzJustify="start" class="">
                        <!-- Type de porte -->
                        
                        <div  nz-col class="row-w-grid5" style="padding: 4px 0px !important;">
                          <div class="">
                            <label class=""><u>Type et largeur de la porte {{ i + 1 }}</u><span class="error-message">*</span></label>
                          </div>
                          </div>
                          <nz-radio-group formControlName="type_porte" style="display:block ;margin: auto;text-align: center;">
                          <div  nz-col class="row-w-grid5" style="padding: 4px 0px !important;">
                            <div class="">
                              <label class="">
                                Portes simple :
                              </label> 
                            </div>
                            <div class="flx-radio-row3">
                            <div *ngFor="let option of types_de_porte_simples">
                              <label nz-radio [nzValue]="option.ID + ':' + option.Prix + ':' + option.Label">
                                 {{ option.Label }} cm
                              </label>
                             
                            </div>
                            </div>
                           </div>
              
              
                           <div  nz-col class="row-w-grid5" style="padding: 4px 0px !important;">
                            <div class="">
                              <label class="">
                                Portes double :
                              </label> 
                            </div>
                            <div class="flx-radio-row3" style="gap: 1px !important;">
                            <div *ngFor="let option of types_de_porte_doubles">
                            <label nz-radio [nzValue]="option.ID + ':' + option.Prix + ':' + option.Label">
                              {{ option.Label }} cm
                            </label>
                          
                          </div>
                         </div>
                         </div>
              
                          <div  nz-col class="row-w-grid5" style="padding: 4px 0px 17px 0px !important;">
                            <div class="">
                              <label class="">
                                Portes coulissante :
                              </label> 
                            </div>
                            <div class="flx-radio-row3">
                            <div *ngFor="let option of types_de_porte_coulissantes">
                              <label nz-radio [nzValue]="option.ID + ':' + option.Prix + ':' + option.Label">
                                {{ option.Label }} cm
                              </label>
                              
                            </div>
                            </div>
                            </div>
              
                          </nz-radio-group>
                          
                          
                          
                      
                        
              
                        <!-- Nature de la porte -->
                        <div nz-col class="row-w-grid5" style="padding: 18px 0px !important;">
                        <div class="">
                          <label class=" "><u>Nature de la porte {{ i + 1 }}</u><span class="error-message">*</span> :</label>
                        </div>
                        
                          <nz-radio-group formControlName="nature_porte" class="flx-radio-row3">
                            <div *ngFor="let option of natures_porte">
                              <label nz-radio [nzValue]="option.ID + ':' + option.Prix + ':' + option.Label">
                                {{ option.Label }}
                              </label>
                             
                            </div>
                          </nz-radio-group>
                        </div>
                        
              
                        <!-- Gamme -->
                        <div nz-col class="row-w-grid5" style="padding: 18px 0px !important;">
                        <div class="">
                          <label class=""><u>Gamme de la porte {{ i + 1 }}</u><span class="error-message">*</span> :</label>
                        </div>
                        
                          <nz-radio-group formControlName="gamme" class="flx-radio-row1 tooltip-srf">
                            <div *ngFor="let option of gammes" class="flex-see-gamme">
                              <label nz-radio [nzValue]="option.ID + ':' + option.Prix + ':' + option.Label"  class="with-link">
                                {{ option.Label }}
                               
                              </label>
                            </div>
                          </nz-radio-group>
                        </div>
                        
                      </div>
                
            
                    
                </div>
            </div>
        
            <button nz-button nzType="primary" class="positive-action mb-5" type="submit">Tester</button>
            <ng-container *ngIf="detailsCalcul">
                <div>
                  <span>Prix: {{ detailsCalcul.resultats[element.TravailSlug]?.prix }} €</span><br>
                  <span>Formule: </span><br>
                  <span [innerHTML]="detailsCalcul.resultats[element.TravailSlug]?.formule"></span>
                </div>
            </ng-container>
      </form>
    </div>
    
      