<div>
    <h2>Liste des devis PDF</h2>   
   
   
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
          <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
          <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
      </div>
    </nz-dropdown-menu>

    <nz-table #sortTable [nzData]="listOfDisplayData" [nzPageSize]="50" nzTableLayout="fixed" [nzScroll]="{ x: '240px' }">
        <thead>
          <tr>
            <th *ngFor="let column of listOfColumn" nzCustomFilter [nzWidth]="column.width" [nzSortOrder]="column.order" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
              {{ column.title }}
              <nz-filter-trigger *ngIf="column.title=='Nom du fichier'" [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
            </th>
            <th [nzWidth]="'250px'">
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of sortTable.data" >
            <td>{{ data.ID }}</td>
            <td>{{ data.Nom }}</td>
            <td>{{ data.Type }}</td>
            <td>{{ data.DateDeCreation | date:'dd/MM/yyyy HH:mm:ss' }}</td>
            <td> {{ data.Projet.Utilisateur?.Nom }} {{ data.Projet.Utilisateur?.Prenom }}</td>
          
           
            
            <td> 
                <a nz-button nzType="link" [href]="apiUrl+data.Url" target="_blank"><span nz-icon nzType="download"></span>Télecharger</a>
                <a nz-button nzType="link" nz-popconfirm
                nzPopconfirmTitle="Voulez-vous vraiment supprimer ce fichier ?"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="deleteFichier(data.ID)" ><span nz-icon nzType="delete"></span>Supprimer</a>

              
            </td>
          </tr>
        </tbody>
    </nz-table>
</div>
