<div>
    <h2>Modifier le devis nº{{devispiece?.ID}} de {{devispiece?.Utilisateur?.Nom}} {{devispiece?.Utilisateur?.Prenom}}</h2>  
    
    

    <div class="visite-box">
      <div class="visite-title">Modification du devis</div>
      <nz-table #nzTable [nzData]="listOfTaches" nzTableLayout="fixed" [nzShowPagination]="'false'">
          <thead>
            <tr>
              <th>ID</th>
              <th>Type de tâche</th>
              <th>Tâche</th>
              <th>Prix TTC</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let data of nzTable.data;let i=index">
              <tr>
                <td>{{ data.ID }}</td>
                <td>{{ data.Travail?.Titre }} #{{ data.Travail?.ID }} </td>
                <td>{{ data.TravailSlug }}</td>
                <td>{{ data.Prix * 1.25 | number:'1.2-2' }} € <button nz-button nzType="primary" (click)="modifier_tache(data.Travail.ID,data.ID)" >modifier la tâche</button></td>
              </tr>
              
            </ng-container>
          </tbody>
        </nz-table>
        <br><br>
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

          <nz-form-item>
            <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzLabelAlign="right" >Titre  </nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip=" Titre" >
              <input formControlName="Titre" nz-input placeholder="Titre" />
            </nz-form-control>
          </nz-form-item>
          
          <nz-form-item>
              <nz-form-label [nzSm]="12" [nzXs]="24"  nzFor="Commentaire"   nzTooltipTitle="Ici le technicien peut ajouter ses remarques sur le devis" >
                  <span>Commentaires du technicien après la visite</span>
              </nz-form-label>
              <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="votre Commentaire!">
                  <editor apiKey="8td5ul2wc26xra2v25z7of2e63hg8gg3cf1f7egl0nj288h8"
                    id="tiny-editor"
                    formControlName="Commentaire"
                    [init]="{
                      plugins: 'link image code',
                      toolbar: 'undo redo | bold italic | alignleft aligncenter alignright | code'
                    }"
                  ></editor>
                </nz-form-control>
          </nz-form-item>
          
          
          <nz-form-item nz-row class="register-area">
          <nz-form-control [nzSpan]="14" [nzOffset]="12">
              <button nz-button nzType="primary" [disabled]="!validateForm.valid">Modifier</button>
          </nz-form-control>
          </nz-form-item>
      </form>
    </div>

    
    
    
</div>