.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    color: #000000 !important;
    background: #ffffff !important;
}
.mr-10{
    margin-right: 10px;
}
.visite-title{
    font-weight: bolder;
    margin: 0px 0px 20px 0px;
    font-size: 17px;
}
.visite-box{
    margin: 21px 120px;
    border: solid 2px #bfbfbf;
    padding: 20px;
}

.artisans-liste ul{
    list-style: none;
}
.artisans-liste li{
    border-bottom: solid black 1px;
    display: flex;
    padding: 5px;
    justify-content: space-between;
}