<div>
  <div style="display: flex;flex-direction: row-reverse;justify-content: center;">
        <h2>Modification - devis nº{{devispiece?.ID}} - {{devispiece?.Utilisateur?.Nom}} {{devispiece?.Utilisateur?.Prenom}}</h2>  
  </div>
    
    

    <div class="visite-box">
      <nz-table #nzTable [nzData]="listOfTaches" nzTableLayout="fixed" [nzShowPagination]="'false'">
          <thead>
            <tr>
              <th>ID</th>
              <th>Type de tâche</th>
              <th>Tâche</th>
              <th>Prix HT</th>
              <th>Prix TTC</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let data of nzTable.data;let i=index">
              <tr>
                <td>{{ data.ID }}</td>
                <td>{{ data.Travail?.Titre }} #{{ data.Travail?.ID }} </td>
                <td>{{ data.TravailSlug }}</td>
                <td>{{ data.Prix  | number:'1.2-2' }} € </td>
                <td>{{ (data.Prix * coefficient) * tva | number:'1.2-2' }} € </td>

                <td> <button nz-button nzType="primary" (click)="modifier_tache(data.Travail.ID,data.ID)" >modifier la tâche</button></td>
              </tr>
              
            </ng-container>
          </tbody>
        </nz-table>
        <br><br>
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

          <nz-form-item>
            <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzLabelAlign="right" >Titre  </nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip=" Titre" >
              <input formControlName="Titre" nz-input placeholder="Titre" />
            </nz-form-control>
          </nz-form-item>
          
          <nz-form-item>
              <nz-form-label [nzSm]="12" [nzXs]="24"  nzFor="Commentaire"   nzTooltipTitle="Ici le technicien peut ajouter ses remarques sur le devis" >
                  <span>Commentaires du technicien après la visite</span>
              </nz-form-label>
              <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="votre Commentaire!">
                  <editor apiKey="8td5ul2wc26xra2v25z7of2e63hg8gg3cf1f7egl0nj288h8"
                    id="tiny-editor"
                    formControlName="Commentaire"
                    [init]="{
                      plugins: 'link image code',
                      toolbar: 'undo redo | bold italic | alignleft aligncenter alignright | code'
                    }"
                  ></editor>
                </nz-form-control>
          </nz-form-item>
          
          
          <nz-form-item nz-row class="register-area">
          <nz-form-control [nzSpan]="14" [nzOffset]="12">
              <button nz-button nzType="primary" [disabled]="!validateForm.valid">Modifier</button>
          </nz-form-control>
          </nz-form-item>
      </form>
    </div>

    


    <div class="visite-box">
      <div class="visite-title">Remises</div>
      <nz-table #nzTable3 [nzData]="remises" *ngIf="remises"  [nzShowPagination]="'false'" nzTableLayout="fixed" >
        <thead>
          <tr>
            
            <th>Titre</th>
            <th>Type</th>
            <th>Pourcentage/Valeur </th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          
            <tr *ngFor="let data of nzTable3.data">
              <td>{{ data.Titre  ? data.Titre  : 'Pas de titre' }} </td>
              <td>{{ data.Type }}</td>
              <td>{{ data.Type=="pourcentage"  ? data.Pourcentage + ' %' : data.Valeur + ' €' }} </td>
              <td> 

                

                <button  nz-button nzType="default" nzDanger class="negative-action mb-5"  title="supprimer"  nz-popconfirm
                nzPopconfirmTitle="Voulez-vous vraiment supprimer cette remise ?"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="deleteRemise(data.ID)"
                (nzOnCancel)="cancel()" ><span nz-icon nzType="delete"></span></button>
              </td>
            </tr>
           
            
        </tbody>
      </nz-table>
      <br><br>
      <form nz-form [formGroup]="remiseForm" (ngSubmit)="submitremiseForm()">
        <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="Titre" nzRequired>Titre</nz-form-label>
        <nz-form-control  [nzSpan]="12" nzErrorTip="Please input Titre!">
          <input nz-input id="Titre" formControlName="Titre" placeholder="Titre" />
        </nz-form-control>
      </nz-form-item>
      
        <!-- Type -->
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzRequired nzFor="Type">Type</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Veuillez sélectionner un type!">
            <nz-select id="Type" formControlName="Type" nzPlaceHolder="Sélectionner">
              <nz-option nzValue="pourcentage" nzLabel="pourcentage"></nz-option>
              <nz-option nzValue="fixe" nzLabel="Fixe"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      
        <!-- Montant -->
        <nz-form-item *ngIf="remiseForm.controls.Type.value=='pourcentage'">
          <nz-form-label [nzSpan]="5"  nzFor="Pourcentage">Pourcentage</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Veuillez entrer un Pourcentage!">
            <nz-input-number id="Pourcentage" formControlName="Pourcentage"  ></nz-input-number> 
          </nz-form-control>
        </nz-form-item>

         <nz-form-item *ngIf="remiseForm.controls.Type.value=='fixe'">
          <nz-form-label [nzSpan]="5"  nzFor="Valeur">Valeur</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Veuillez entrer un Valeur!">
            <nz-input-number id="Valeur" formControlName="Valeur"  ></nz-input-number> 
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="5"  nzFor="Commentaire" >Commentaire</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Veuillez entrer un Commentaire!">
            <textarea rows="4" id="Commentaire" formControlName="Commentaire" style="width:100%"></textarea>
          </nz-form-control>
        </nz-form-item>
        
      
        <!-- Bouton de soumission -->
        <nz-form-item>
          <nz-form-control [nzSpan]="12" [nzOffset]="5">
            <button nz-button nzType="primary" [disabled]="remiseForm.invalid">Ajouter une remise</button>
          </nz-form-control>
        </nz-form-item>
      </form>
      
      <br>
    </div>


    <div class="visite-box">
      
      <div class="visite-title">Artisans</div>
      <nz-form-item>
        <nz-form-label>Catégorie</nz-form-label>
        <nz-form-control>
          <nz-select
            [(ngModel)]="selectedCategorie"
            (ngModelChange)="onCategorieChange()"
            nzPlaceHolder="Sélectionnez une catégorie"
            [nzAllowClear]="true"
          >
            <nz-option
              *ngFor="let cat of categories"
              [nzLabel]="cat.nom"
              [nzValue]="cat.nom"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Artisans</nz-form-label>
        <nz-form-control>
          <nz-select
            [(ngModel)]="selectedArtisans"
            nzPlaceHolder="Sélectionnez des artisans"
            [nzMode]="'multiple'"
            [nzMaxTagCount]="3"
          >
            <nz-option
              *ngFor="let art of filteredArtisans"
              [nzLabel]="art.Nom + ' ' + art.Prenom"
              [nzValue]="art.Id"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" (click)="ajouterArtisans()">Ajouter</button>
        </nz-form-control>
      </nz-form-item>

      <div *ngIf="artisansAjoutes.length > 0" class="artisans-liste">
        <h4>Artisans ajoutés :</h4>
        <ul>
          <li *ngFor="let art of artisansAjoutes">
            {{ art.Nom }} {{ art.Prenom }}
            <button (click)="supprimerArtisan(art.Id)">Supprimer</button>
          </li>
        </ul>
      </div>

      <div *ngIf="artisansAjoutes.length === 0">
        Aucun artisan ajouté.
      </div>



  

    </div>
    
    
</div>