<div class="width-800">
    <h1 class="ttl-recap">Création de murs non porteurs
    </h1>
        
        <form *ngIf="formulaire" [formGroup]="formulaire" (ngSubmit)="submit()" >
            
            <div formArrayName="murs_non_porteurs">
                <div *ngFor="let mur of murs_non_porteurs.controls; let i = index" [formGroupName]="i">
                  
                    <div class="mur-btn-div">
                        <span class="mur-ttl">Dimensions du mur {{i + 1}}</span>
                    </div>
                    <div >
                        <div class="flx-radio-row2">
                            <label for="hauteur">Hauteur (cm) :</label>
                            <input type="number" id="hauteur" formControlName="hauteur" min="1" max="4000" />
                        </div>
                        <div class="flx-radio-row2">
                            <label for="longueur">Longueur (cm) :</label>
                            <input type="number" id="longueur" formControlName="longueur" min="1" max="10000"  />
                        </div>
                    </div>
                    <div nz-col>
                        <div nz-col class="row-w-grid flx-radio-row2" >
                            <label for="epaisseur">Epaisseur (cm) :</label>
                            <nz-radio-group formControlName="epaisseur" class="flx-radio-row">
                                <div *ngFor="let type of type_epaisseur">
                                <label nz-radio [nzValue]="type.ID + ':' + type.Prix + ':' + type.Label"> {{ type.Label }}</label>
                                </div>
                            </nz-radio-group>  
                        </div>
                    </div>
                </div>
            </div>
           
                 
               
            <div class="grid-btn-action">
                <button nz-button nzType="primary" class="positive-action mb-5" type="submit">Tester</button>
                <button *ngIf="edit_mode" nz-button nzType="primary" class="positive-action mb-5" (click)="modifier()">Modifier</button>

            </div>
              
              <ng-container *ngIf="detailsCalcul">
                  <div>
                    <span>Prix: {{ detailsCalcul.resultats[element.TravailSlug]?.prix }} €</span><br>
                    <span>Formule: </span><br>
                    <span [innerHTML]="detailsCalcul.resultats[element.TravailSlug]?.formule"></span>
                  </div>
              </ng-container>
              
            </form>
            
            
            </div>
                
    
      