<div class="width-800">
    <h1 class="ttl-recap">Pose de revêtement sur plafond</h1>
        
        <form *ngIf="formulaire" [formGroup]="formulaire" (ngSubmit)="submit()" >
          <div class="mur-btn-div tooltip-srf">
            <div style="margin-right:auto;text-align: left;" >
              <span class="mur-ttl">Quel est l'état de votre plafond ?</span>
            </div>
        </div>

            <div>
                <div class="flx-radio-row2">
                   <label for="longueur">
                     Longueur (cm) :
                   </label>
                   <input type="number" id="longueur" formControlName="longueur" min="1" max="10000"  required>
                   
                </div>
        
               
        
                <div class="flx-radio-row2">
                  <label for="largeur">
                    Largeur (cm) :
                  </label>
                  <input type="number" id="largeur" formControlName="largeur" min="1" max="10000"  required>
                 
                </div>

                
                <div class="flx-radio-row2">
                    <label for="hauteur">
                    Hauteur du plafond (cm) : 
                  </label>
                    <input  type="number" id="hauteur" formControlName="hauteur" required max="600" min="1">
                </div>
        
            </div>
        
           
            <div>
                <label class="">
                    Revêtement existant:
                </label> 
                <nz-radio-group formControlName="depose" class="flx-radio-row3">
                    <div *ngFor="let option of gammes_depose" class="parquet-option tooltip-srf">
                        <label nz-radio [nzValue]="option.ID +  ':' + option.Label+ ':' + option.Prix">
                            <span>  {{ option.Label }}</span>
                        </label>
                    </div>
                    <div  class="parquet-option ant-col tooltip-srf">
                        <label nz-radio nzValue="0:aucun:0">
                            <span>Aucun</span>
                        </label>
                    </div>
                </nz-radio-group>
            </div>

            <div class="mur-btn-div tooltip-srf">
                <div style="margin-right:auto;text-align: left;" >
                  <span class="mur-ttl">Quel est l'état de votre plafond ?</span>
                </div>
            </div>
            <div nz-col nzSpan="12" class="" style="max-width: 100% !important;">
                <!-- <label for="etat">État du sol: </label> -->
                <nz-radio-group formControlName="etat" class="rd-grp-w">
                
                  <div *ngFor="let option of etat_des_surfaces">
                    <label nz-radio [nzValue]="option.ID + '-' + option.Label + '-' + option.Prix" style="padding-block: 10px;">
                      <span>{{ option.Label }}</span>
                    </label>
                  </div>
                </nz-radio-group>
            </div>
               
             <!-- Choix du revêtement -->
<div>
    <div class="mur-btn-div tooltip-srf">
        <div style="margin-right:auto;text-align: left;" >
          <span class="mur-ttl">Choix du nouveau revêtement</span>
        </div>
    </div>
    <nz-radio-group formControlName="gamme">
      <!-- Boucle sur chaque gamme -->
      <ng-container *ngFor="let gamme of [
        { label: 'Peinture', options: gammes_peinture },
        { label: 'Enduit', options: gammes_enduit },
        { label: 'Papier', options: gammes_papier },
      ]">
        <div class="flx-radio-row2">
          <label>{{ gamme.label }} :</label>
          <div>
            <div *ngFor="let option of gamme.options">
            <label nz-radio [nzValue]="option.ID + ':' + option.Label + ':' + option.Prix">
              {{ option.Label }}
            </label>
          </div>
          </div>
          
        </div>
      </ng-container>
  
      <!-- Autre -->
      <div>
        <label>Autre :</label>
        <label nz-radio nzValue="0:autre:0">autre</label>
      </div>
    </nz-radio-group>
  
  
  
    <!-- Champ "autre" -->
    <div  class="flx-radio-row2">
      <label for="autre_gamme">Autre :</label>
      <input type="text" id="autre_gamme" formControlName="autre_gamme">
    </div>
  </div>
  

    <div class="grid-btn-action">
      <button nz-button nzType="primary" class="positive-action mb-5" type="submit">Tester</button>
  </div>
    
    <ng-container *ngIf="detailsCalcul">
        <div>
          <span>Prix: {{ detailsCalcul.resultats[element.TravailSlug]?.prix }} €</span><br>
          <span>Formule: </span><br>
          <span [innerHTML]="detailsCalcul.resultats[element.TravailSlug]?.formule"></span>
        </div>
    </ng-container>
    
  </form>

  <button *ngIf="edit_mode" nz-button nzType="primary" class="positive-action mb-5" (click)="modifier()">Modifier</button>

</div>
    
      