<div>
    <h2>FAQ</h2>  
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="Titre"  nzRequired nzTooltipTitle="What do you want other to call you" >
                <span>Titre</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="votre Titre!">
                <input nz-input id="Titre" formControlName="Titre" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="Question"  nzRequired nzTooltipTitle="What do you want other to call you" >
                <span>Question</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="votre Question!">
                <textarea rows="4" nz-input id="Question" formControlName="Question"></textarea>

            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="Reponse"  nzRequired nzTooltipTitle="What do you want other to call you" >
                <span>Reponse</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="votre Reponse!">
                <editor apiKey="8td5ul2wc26xra2v25z7of2e63hg8gg3cf1f7egl0nj288h8"
                  id="tiny-editor"
                  formControlName="Reponse"
                  [init]="{
                    plugins: 'link image code',
                    toolbar: 'undo redo | bold italic | alignleft aligncenter alignright | code'
                  }"
                ></editor>
              </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="categories"  nzRequired nzTooltipTitle="What do you want other to call you" >
                <span>categories de questions</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="vos categories!">
                <nz-select id="categories" [(ngModel)]="multipleValue" [ngModelOptions]="{standalone: true}" [nzSize]="size" nzMode="multiple" nzPlaceHolder="Please select">
                    <nz-option *ngFor="let option of categories" [nzLabel]="option.Titre" [nzValue]="option.ID"></nz-option>
                  </nz-select>
            </nz-form-control>
        
        </nz-form-item>

      
        <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">Modifier</button>
        </nz-form-control>
        </nz-form-item>
    </form>
</div>