<div class="width-800">
    <h1 class="ttl-recap">Démolition de cloisons ou ouverture partielle sur des murs non porteurs</h1>
        
        <form *ngIf="formulaire" [formGroup]="formulaire" (ngSubmit)="submit()" >
            
            <div formArrayName="mursNonporteurs">
                <div *ngFor="let mur of mursNonporteurs.controls; let i = index" [formGroupName]="i">
                    <div class="div-mur-gm"><span class="mur-ttl">Caractéristiques du mur {{i+1}}</span></div>
                    <div class="flx-radio-row11">
                      <div class="flx-radio-row11">
                        <label class="">Longueur :</label> 
                        <input formControlName="longueur" placeholder="Longueur du mur">
                      </div>
                      <div class="flx-radio-row11">
                        <label class="">Hauteur :</label> 
                        <input formControlName="hauteur" placeholder="Hauteur du mur">
                      </div>
                    </div>
                    <div class="flx-radio-row11">
                      <div class="flx-radio-row11">
                        <label class="">Épaisseur :</label> 
                        <input formControlName="epaisseur" placeholder="Épaisseur">
                      </div>
                      <div class="flx-radio-row11">
                        <label class="">Nombre de portes :</label> 
                        <input formControlName="ndp" placeholder="Nombre de portes">
                      </div>
                    </div>
                    
                    <div class="flx-radio-row11">
                      <label class="">Type de cloison :</label> 
                      <nz-radio-group formControlName="cloison" class="radio-flx-spc flx-radio-row2">
                          <ng-container>
                              <div *ngFor="let option of gammes_cloison_complete" class="parquet-option  flex-see-gamme">
                                  <label nz-radio [nzValue]="option.ID + ':' + option.Label + ':' + option.Prix"  class="with-link">
                                      <span>
                                      {{ option.Label }}
                                      </span>
                                  </label>
                              </div>
                          </ng-container>
                      </nz-radio-group>
                    </div>
                  <!-- etc. -->
                </div>
              </div>
            
              <div formArrayName="ouverturePartielle">
                <div *ngFor="let ouverture of ouverturePartielle.controls; let j = index" [formGroupName]="j">
                    <div class="div-mur-gm"><span class="mur-ttl">Caractéristiques de la cloison {{j+1}}</span></div>
                      <div class="flx-radio-row2">
                        <label class="">Longueur :</label> 
                        <input formControlName="longueur" placeholder="Longueur">
                      </div>
                      <div class="flx-radio-row2">
                        <label class="">hauteur :</label> 
                        <input formControlName="hauteur" placeholder="hauteur">
                      </div>
                      <div class="flx-radio-row2">
                        <label class="">epaisseur :</label> 
                        <input formControlName="epaisseur" placeholder="epaisseur">
                      </div>
                      <div class="flx-radio-row2">
                        <label class="">longueur_ouverture :</label> 
                    <input formControlName="longueur_ouverture" placeholder="longueur_ouverture">
                      </div>
                      <div class="flx-radio-row2">
                        <label class="">Hauteur de l'ouverture :</label> 
                        <input formControlName="hauteur_ouverture" placeholder="Hauteur ouverture">
                      </div>
                      <div class="flx-radio-row2">
                        <label class="">hauteur_depuis_le_plafond :</label> 
                        <input formControlName="hauteur_depuis_le_plafond" placeholder="hauteur_depuis_le_plafond">
                      </div>
                      <div class="flx-radio-row2">
                        <label class="">hauteur_depuis_le_sol :</label> 
                        <input formControlName="hauteur_depuis_le_sol" placeholder="hauteur_depuis_le_sol">
                      </div>
                    
                      <div class="flx-radio-row2">
                        <label class="">Type de cloison :</label>
                        <nz-radio-group formControlName="cloison" class="radio-flx-spc">
                            <ng-container >
                              <div *ngFor="let option of gammes_cloison_partielle" class="parquet-option  flex-see-gamme">
                                <label nz-radio [nzValue]="option.ID + ':' + option.Label + ':' + option.Prix"  class="with-link">
                                  <span>
                                    {{ option.Label }}
                                  </span>
                                </label>
                              </div>
                            </ng-container>
                        </nz-radio-group>
                      </div>
                </div>
              </div>
            
             

        
              <div class="grid-btn-action">
                <button nz-button nzType="primary" class="positive-action mb-5" type="submit">Tester</button>
                <button *ngIf="edit_mode" nz-button nzType="primary" class="positive-action mb-5" (click)="modifier()">Modifier</button>

            </div>
              
              <ng-container *ngIf="detailsCalcul">
                  <div>
                    <span>Prix: {{ detailsCalcul.resultats[element.TravailSlug]?.prix }} €</span><br>
                    <span>Formule: </span><br>
                    <span [innerHTML]="detailsCalcul.resultats[element.TravailSlug]?.formule"></span>
                  </div>
              </ng-container>
              
            </form>
            
            
            </div>
    
      