<div>
    <h2>Gestion des comptes</h2>    
    <button nz-button nzType="primary" class="positive-action mb-5 mt-5" [routerLink]="['/administration', 'comptes', 'ajouter-compte']">Ajouter un compte</button>

    <nz-table #sortTable [nzData]="utilisateurs"  nzTableLayout="fixed" [nzScroll]="{ x: '240px' }">
        <thead>
          <tr>
            <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
              {{ column.title }}
            </th>
            <th>
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of sortTable.data" >
            <td *ngIf="isAdminOrHim(data.Id)">{{ data.Id }}</td>
            <td *ngIf="isAdminOrHim(data.Id)">{{ data.RaisonSociale }}</td>
            <td *ngIf="isAdminOrHim(data.Id)">{{ data.Nom }}</td>
            <td *ngIf="isAdminOrHim(data.Id)">{{ data.Prenom }}</td>
            <td *ngIf="isAdminOrHim(data.Id)">{{ data.Email }}</td>
            <td *ngIf="isAdminOrHim(data.Id)">{{ data.Telephone }}</td>
            <td *ngIf="isAdminOrHim(data.Id)">{{ data.AdressePostale }}</td>
            <td *ngIf="isAdminOrHim(data.Id)">{{ data.Role?.Titre }}</td>
            <td *ngIf="isAdminOrHim(data.Id)"> 
              <button nz-button nzType="primary" class="positive-action mb-5" [nzSize]="size" title="modifier" [routerLink]="['/administration', 'comptes', 'modifier-compte',data.Id]"><span nz-icon nzType="edit"></span></button>
              <button nz-button nzType="primary" class="negative-action mb-5" [nzSize]="size" title="supprimer"  nz-popconfirm
              nzPopconfirmTitle="Are you sure delete this account?"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="deleteUser(data.Id,data?.Role?.Id)"
              (nzOnCancel)="cancel()" ><span nz-icon nzType="delete"></span></button>
            </td>
          </tr>
        </tbody>
    </nz-table>
</div>
