.label-number{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.label-number label{
    width: 100%;
}
.label-number input[type=number]{
    width: 100px;
}
.width-800{
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.flex-2{
    display: flex;
    justify-content: space-between;
}