.select-add{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px 10px 30px 10px;
}
fieldset{
    display: block;
    min-inline-size: min-content;
    margin-inline: 2px;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
    padding-block: 0.35em 0.625em;
    padding-inline: 0.75em;
}
legend{
    width: fit-content;
}
.select-large{
    width: 500px;
}