<div>
    <h2>Liste des fournitures et produits</h2>  
    
    <div>
      <fieldset>
        <legend>Produit</legend>
            
          <div class="section-produit">
      
            <button nz-button nzType="primary" class="positive-action mb-5 mt-5" [routerLink]="['/administration', 'gammes', 'ajouter-gamme']">Ajouter un produit</button>
            <div class="section-import">
              <div class="input-link">
                <input type="file" (change)="onFileSelected($event)" />
                <a href="https://api.homeren.fr/gammes_import.xlsx" target="_blank" >Télécharger le modèle</a>
              </div>
              
              <button nz-button nzType="primary" class="positive-action mb-5 mt-5" (click)="importer()">Importer des produits</button>
            </div> 
            
            <button nz-button nzType="primary" class="positive-action mb-5 mt-5" (click)="exporter()">Exporter les produits</button>
            
          </div> 
          
      </fieldset>
    </div>

    <div>
      <fieldset>
        <legend>Filtres</legend>
            
        <div class="filter-container">
          <div class="filter-box">
            Travail
            <nz-select [(ngModel)]="filteredTravailID" (ngModelChange)="doubleSearch()"  class="filter-select">
              <nz-option  nzLabel="Tous les travaux" [nzValue]="0"></nz-option>
              <nz-option *ngFor="let option of travaux" [nzLabel]="option.Titre" [nzValue]="option.ID"></nz-option>
            </nz-select>
          </div>
          <div class="filter-box">
            Tâche
            <nz-select [(ngModel)]="filteredEtape" (ngModelChange)="search2()" class="filter-select">
              <nz-option  nzLabel="Toutes les étapes" nzValue=""></nz-option>
                <nz-option *ngFor="let element of filteredList"  [nzValue]="element" [nzLabel]="element"></nz-option>
            </nz-select>
          </div>
          <div class="filter-box">
            Sous-catégorie
            <nz-select
              [(ngModel)]="filteredSouscategorie"
              (ngModelChange)="search2()"
              nzPlaceHolder="Toutes les sous-catégories"
              class="filter-select"
            >
              <nz-option nzLabel="Toutes les sous-catégories" nzValue=""></nz-option>

              <!-- C -->
              <nz-option nzLabel="Carrelage mural" nzValue="carrelage"></nz-option>
              <nz-option nzLabel="Carrelage (sol)" nzValue="carrelage-sol"></nz-option>
              <nz-option nzLabel="Cloison" nzValue="cloison"></nz-option>

              <!-- D -->
              <nz-option nzLabel="Dépose" nzValue="depose"></nz-option>
              <nz-option nzLabel="Dépose cuisine" nzValue="depose-cuisine"></nz-option>
              <nz-option nzLabel="Dépose murs" nzValue="depose-murs"></nz-option>
              <nz-option nzLabel="Dépose revêtements plafond" nzValue="depose-revetement-plafond"></nz-option>
              <nz-option nzLabel="Dépose revêtements sol" nzValue="depose-revetement-sol"></nz-option>
              <nz-option nzLabel="Dépose éléments salle de bain / eau" nzValue="depose-salle-de-bain-salle-d-eau"></nz-option>

              <!-- E -->
              <nz-option nzLabel="Enduit décoratif" nzValue="enduit-decoratif"></nz-option>
              <nz-option nzLabel="État des surfaces (murs)" nzValue="etat-des-surfaces-murs"></nz-option>
              <nz-option nzLabel="État des surfaces (sol)" nzValue="etat-des-surfaces-sol"></nz-option>
              <nz-option nzLabel="État des surfaces (plafond)" nzValue="etat-des-surfaces-plafond"></nz-option>

              <!-- G -->
              <nz-option nzLabel="Gamme de porte" nzValue="gamme-de-porte"></nz-option>

              <!-- M -->
              <nz-option nzLabel="Matériaux" nzValue="materiaux"></nz-option>
              <nz-option nzLabel="Moquette" nzValue="moquette-de-sol"></nz-option>

              <!-- N -->
              <nz-option nzLabel="Nature de la porte" nzValue="nature-porte"></nz-option>

              <!-- P -->
              <nz-option nzLabel="Papier peint" nzValue="papier-peint"></nz-option>
              <nz-option nzLabel="Parquet flottant" nzValue="parquet-flottant-sol"></nz-option>
              <nz-option nzLabel="Parquet massif" nzValue="papier-massif-sol"></nz-option>
              <nz-option nzLabel="Peinture murale" nzValue="peinture"></nz-option>
              <nz-option nzLabel="Peinture de sol" nzValue="peinture-de-sol"></nz-option>
              <nz-option nzLabel="Plinthes bois" nzValue="plinthes-bois-sol"></nz-option>
              <nz-option nzLabel="Plinthes carrelage" nzValue="plinthes-carrelage-sol"></nz-option>

              <!-- R -->
              <nz-option nzLabel="Radiateur" nzValue="radiateur"></nz-option>
              <nz-option nzLabel="Résine décorative (sol)" nzValue="resine-decorative-de-sol"></nz-option>
              <nz-option nzLabel="Rénovation électrique partielle" nzValue="renovation-electrique-partielle"></nz-option>
              <nz-option nzLabel="Rénovation électrique complète" nzValue="renovation-electrique-complete"></nz-option>

              <!-- S -->
              <nz-option nzLabel="Sol souple" nzValue="sol-souple"></nz-option>

              <!-- T -->
              <nz-option nzLabel="Tissus muraux" nzValue="tissus"></nz-option>
              <nz-option nzLabel="Type de cloison (mur non porteur)" nzValue="type-de-cloison-murs-non-porteurs"></nz-option>
              <nz-option nzLabel="Type de porte coulissante" nzValue="type-de-porte-coulissante"></nz-option>
              <nz-option nzLabel="Type de porte double" nzValue="type-de-porte-double"></nz-option>
              <nz-option nzLabel="Type de porte simple" nzValue="type-de-porte-simple"></nz-option>
              <nz-option nzLabel="Type de porte épaisseur 5 cm" nzValue="type-de-porte-creation-murs-non-porteurs_ep_5"></nz-option>
              <nz-option nzLabel="Type de porte épaisseur 7 cm" nzValue="type-de-porte-creation-murs-non-porteurs_ep_7"></nz-option>
              <nz-option nzLabel="Type de porte épaisseur 10 cm" nzValue="type-de-porte-creation-murs-non-porteurs_ep_10"></nz-option>
              <nz-option nzLabel="Type de porte épaisseur > 10 cm" nzValue="type-de-porte-creation-murs-non-porteurs_ep_10+"></nz-option>
              <nz-option nzLabel="Type de radiateur" nzValue="type-de-radiateur"></nz-option>
            </nz-select>
          </div>

        </div>
       
      


      </fieldset>
    </div>
    
   
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
          <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
          <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
      </div>
    </nz-dropdown-menu>

    <nz-table #sortTable [nzData]="listOfDisplayData" [nzPageSize]="50" nzTableLayout="fixed" [nzScroll]="{ x: '240px' }">
        <thead>
          <tr>
            <th *ngFor="let column of listOfColumn" nzCustomFilter [nzSortOrder]="column.order" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
              {{ column.title }}
              <nz-filter-trigger *ngIf="column.title=='Titre'" [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
            </th>
            <th>
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of sortTable.data" >
            <td>{{ data.Label }}</td>
            <td>{{ data.Type }}</td>
            <td>{{ get_travail_title(data.TravailID) }}</td>
            <td>{{ data.Prix }} €</td>
        
            
          
           
            
            <td> 
              <button nz-button nzType="primary" class="positive-action mb-5"  [nzSize]="size" title="modifier" [routerLink]="['/administration', 'gammes', 'modifier-gamme',data.ID]"><span nz-icon nzType="edit"></span></button>
              <button nz-button nzType="primary" class="negative-action mb-5" [nzSize]="size" title="supprimer"  nz-popconfirm
              nzPopconfirmTitle="Voulez-vous vraiment supprimer cette gamme ?"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="deleteGamme(data.ID)"
               ><span nz-icon nzType="delete"></span></button>
            </td>
          </tr>
        </tbody>
    </nz-table>
</div>
