<div>
    <h2>Prix des fournitures et produit</h2>   
    <div class="select-add">
      <nz-select [(ngModel)]="filteredTravail" (ngModelChange)="search2()"  style="width: 400px;" class=" mb-5 mt-5">
        <nz-option  nzLabel="Choix de la rubrique" nzValue=""></nz-option>
        <nz-option *ngFor="let option of travaux" [nzLabel]="option.Titre" [nzValue]="option.Titre"></nz-option>
      </nz-select>
            <button nz-button nzType="primary" class="positive-action mb-5 mt-5" [routerLink]="['/administration', 'gammes', 'ajouter-gamme']">Ajouter un produit</button>
      <button nz-button nzType="primary" class="positive-action mb-5 mt-5" (click)="exporter()">Exporter les produits</button>
 <button
      nz-popconfirm
      nzPopconfirmTitle="Voulez-vous vraiment supprimer toutes les produits ?"
      [nzBeforeConfirm]="beforeConfirm_supression"
      (nzOnConfirm)="confirm_supression()"
      (nzOnCancel)="cancel_supression()"
      nz-button
      nzType="primary"
       class="positive-action mb-5 mt-5"
    >
      Supprimer tous les produits
    </button>
      </div> 
    <div class="select-add">
      <input type="file" (change)="onFileSelected($event)" />
      <a href="https://api.homeren.fr/gammes_import.xlsx" target="_blank" class=" mb-5 mt-5">Télécharger le modèle</a>
      <button nz-button nzType="primary" class="positive-action mb-5 mt-5" (click)="importer()">Importer des produits</button>
    </div> 
   
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
          <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
          <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
      </div>
    </nz-dropdown-menu>

    <nz-table #sortTable [nzData]="listOfDisplayData" [nzPageSize]="50" nzTableLayout="fixed" [nzScroll]="{ x: '240px' }">
        <thead>
          <tr>
            <th *ngFor="let column of listOfColumn" nzCustomFilter [nzSortOrder]="column.order" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
              {{ column.title }}
              <nz-filter-trigger *ngIf="column.title=='Label'" [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
            </th>
            <th>
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of sortTable.data" >
            <td >{{ data.ID }}</td>
            <td>{{ get_travail_title(data.TravailID) }}</td>
            <td>{{ data.Type }}</td>
            <td>{{ data.Label }}</td>
            <td>{{ data.Prix }} €</td>
            <td>{{ getLabel(data.ActiverFournisseur) }}</td>
            <td>
              <a [href]="baseurl + data.Pdf" target="_blank" class="link-tooltip">{{data.Pdf}}</a>

            </td>
          
           
            
            <td> 
              <button nz-button nzType="primary" class="positive-action mb-5"  [nzSize]="size" title="modifier" [routerLink]="['/administration', 'gammes', 'modifier-gamme',data.ID]"><span nz-icon nzType="edit"></span></button>
              <button nz-button nzType="primary" class="negative-action mb-5" [nzSize]="size" title="supprimer"  nz-popconfirm
              nzPopconfirmTitle="Are you sure delete this account?"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="deleteGamme(data.ID)"
               ><span nz-icon nzType="delete"></span></button>
            </td>
          </tr>
        </tbody>
    </nz-table>
</div>
