<div>
    <h2>Modifier un équipement</h2>   
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="Titre">Titre</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Titre!">
            <input nz-input formControlName="Titre" id="Titre" />
          </nz-form-control>
        </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Description</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Description!">
              
              <editor apiKey="8td5ul2wc26xra2v25z7of2e63hg8gg3cf1f7egl0nj288h8"
                  id="tiny-editor"
                  formControlName="Description"
                  [init]="{
                    plugins: 'link image code',
                    toolbar: 'undo redo | bold italic | alignleft aligncenter alignright | code'
                  }"
                ></editor>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item >
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="Image"  >
                <span>Image</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <input type="text" id="Image" formControlName="Image" hidden />
                <input type="file" accept=".png,.jpeg,.jpg,.svg,.webp"  [attr.maxFileSize]="10 * 1024 * 1024" nz-upload  (change)="handleFileInput($event)" />                
                Formats autorisés: .png, .jpeg, .jpg et taille < 10 MB     
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="PieceID"  >
                <span>Pièce</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <nz-select id="RoleId" formControlName="PieceID"  nzPlaceHolder="Pièce" >
                    <nz-option *ngFor="let option of pieces" [nzValue]="option.ID" [nzLabel]="option.Titre"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="PieceID"  >
              <span>Type</span>
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
              <nz-select id="Type" formControlName="Type"  nzPlaceHolder="Type" >
                <nz-option nzValue="electrique" nzLabel="électrique (à ajouter)"></nz-option>
                <nz-option nzValue="sanitaire" nzLabel="sanitaire"></nz-option>
                <nz-option nzValue="cuisine" nzLabel="cuisine"></nz-option>
                <nz-option nzValue="electrique-a-remplacer" nzLabel="électrique (à remplacer)"></nz-option>
                <nz-option nzValue="radiateur" nzLabel="radiateur"></nz-option>
                <nz-option nzValue="autre" nzLabel="autre"></nz-option>
              </nz-select>
          </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-row class="register-area">
        <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="AfficherLongueur"  nzRequired nzTooltipTitle="cocher cette case si vous voulez que le champ apparaisse dans le formulaire de demande de devis pour cet appareil" >
            <span>Afficher le champ Longueur</span>
        </nz-form-label>
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <label nz-checkbox  formControlName="AfficherLongueur"></label>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item nz-row class="register-area">
        <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="AfficherLargeur"  nzRequired nzTooltipTitle="cocher cette case si vous voulez que le champ apparaisse dans le formulaire de demande de devis pour cet appareil" >
            <span>Afficher le champ Largeur</span>
        </nz-form-label>
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <label nz-checkbox  formControlName="AfficherLargeur"></label>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-row class="register-area">
        <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="AfficherVasque"  nzRequired nzTooltipTitle="cocher cette case si vous voulez que le champ apparaisse dans le formulaire de demande de devis pour cet appareil" >
            <span>Afficher le champ Vasque</span>
        </nz-form-label>
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <label nz-checkbox  formControlName="AfficherVasque"></label>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-row class="register-area">
        <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="AfficherEncastreeApparente"  nzRequired nzTooltipTitle="cocher cette case si vous voulez que le champ apparaisse dans le formulaire de demande de devis pour cet appareil" >
            <span>Afficher le champ EncastreeApparente</span>
        </nz-form-label>
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <label nz-checkbox  formControlName="AfficherEncastreeApparente"></label>
        </nz-form-control>
      </nz-form-item>

        <nz-form-item nz-row class="register-area">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">Modifier</button>
          </nz-form-control>
        </nz-form-item>
      </form>
</div>