<div class="width-800">
    <h1 class="ttl-recap">Rénovation électrique complète
    </h1>
        
    <form *ngIf="formulaire" [formGroup]="formulaire" (ngSubmit)="submit()" >
        <div class="w-80">
            
            <div  class="flx-radio-row2">
                <label for="surface">Surface de la pièce (m²)<span class="error-message">*</span> : </label>
                <input type="number" id="surface" formControlName="surface" max="100" min="1">
            </div>
                
            <div  class="flx-radio-row2">
                <div   class="">
                    <label for="mise_en_securite">Mise en sécurité : </label>
                </div>
                <div   class="">
                    <nz-radio-group  formControlName="mise_en_securite" id="mise_en_securite" nzName="radiogroup" class="sidebyside">
                        <label nz-radio [nzValue]="true">Oui</label>
                        <label nz-radio [nzValue]="false">Non</label>
                    </nz-radio-group>
                </div>
            </div> 
                
            <div   class="flx-radio-row2">
                <div   >
                    <label for="renovation_conforme">Rénovation conforme à la norme C15100 </label>
                </div> 
                <div>
                    <nz-radio-group formControlName="renovation_conforme" id="renovation_conforme" nzName="radiogroup" class="sidebyside">
                        <label nz-radio [nzValue]="true">Oui</label>
                        <label nz-radio [nzValue]="false">Non</label>
                    </nz-radio-group>
                </div>
            </div>

            <div  class="flx-radio-row2">
                <div   class="">
                    <label for="chauffage_exist">Y-a-t-il un chauffage électrique ? </label>
                </div>
                <div> 
                    <nz-radio-group formControlName="chauffage_exist" id="chauffage_exist" nzName="radiogroup" class="sidebyside" >
                        <label nz-radio [nzValue]="true">Oui</label>
                        <label nz-radio [nzValue]="false">Non</label>
                    </nz-radio-group>
                </div>  
            </div> 
        
            <div   class="flx-radio-row2">
                <label for="quantite_chauffage">Quantité de chauffage <span class="error-message">*</span> : </label>
                <input type="number" id="quantite_chauffage" formControlName="quantite_chauffage" max="10" min="1">
            </div>
            
             
            
        </div>  


        
        <button nz-button nzType="primary" class="positive-action mb-5" type="submit">Tester</button>
        <ng-container *ngIf="detailsCalcul">
            <div>
                <span>Prix: {{ detailsCalcul.resultats[element.TravailSlug]?.prix }} €</span><br>
                <span>Formule: </span><br>
                <span [innerHTML]="detailsCalcul.resultats[element.TravailSlug]?.formule"></span>
            </div>
        </ng-container>
    </form>
</div>
    
      