<div>
<h2>Liste des paramètres</h2>    
<button nz-button nzType="primary" class="positive-action mb-5 mt-5" [routerLink]="['/administration', 'parametres', 'ajouter-parametre']">Ajouter un parametre</button>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>


  <nz-table #sortTable [nzData]="listOfDisplayData" [nzPageSize]="50" nzTableLayout="fixed" [nzScroll]="{ x: '240px' }">
      <thead>
        <tr>
          <th *ngFor="let column of listOfColumn" nzCustomFilter [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
            {{ column.title }}
            <nz-filter-trigger *ngIf="column.title=='Nom'" [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
              <span nz-icon nzType="search"></span>
            </nz-filter-trigger>
          </th>
          <th>
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of sortTable.data" >
          <td>{{ data.ID }}</td>
          <td>{{ data.Nom }}</td>
          <td>{{ data.Valeur }} </td>
          <td>{{ data.Type }} </td>
          <td> 
            <button nz-button nzType="primary" class="positive-action mb-5"  [nzSize]="size" title="modifier" [routerLink]="['/administration', 'parametres', 'modifier-parametre',data.ID]"><span nz-icon nzType="edit"></span></button>
            <button nz-button nzType="primary" class="negative-action mb-5" [nzSize]="size" title="supprimer"  nz-popconfirm
            nzPopconfirmTitle="Supprimer ce parametre ?"
            nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="deleteParametre( data.ID )"
          (nzOnCancel)="cancel()"
             ><span nz-icon nzType="delete"></span></button>
          </td>
        </tr>
      </tbody>
  </nz-table>
</div>
