<div>
    

    <div>
      <fieldset>
        <legend>Fournitures de {{userData?.Prenom}} {{userData?.Nom}}</legend>
            
          <div class="section-produit">
      
            <div class="section-import">
              <div class="input-link">
                <input type="file" #fileInput (change)="onFileSelected($event)" />
              </div>
              
              <button nz-button nzType="primary" class="positive-action mb-5 mt-5" (click)="importer()">Importer des fournitures</button>
            </div> 
            
            <button nz-button nzType="primary" class="positive-action mb-5 mt-5" (click)="exporter()">Exporter les fournitures</button>
            <button nz-button nzType="primary" class="positive-action mb-5 mt-5" (click)="telecharger_modele()">Télécharger le modèle</button>

          </div> 
          
      </fieldset>
    </div>


    <nz-table #sortTable [nzData]="listOfDisplayData" [nzPageSize]="50"  nzTableLayout="fixed" [nzScroll]="{ x: '240px' }">
        <thead>
        <tr>
            <th *ngFor="let column of listOfColumn" [nzSortOrder]="column.order" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
            {{ column.title }}
            </th>
            <th>
            Actions
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of sortTable.data" >
            <td>{{ data.Titre }}</td>
            <td>{{  data.Equipement.Titre }} ({{  data.Equipement.Type }})</td>
            <td>{{  data.Etape }} </td>
            <td>{{ data.Prix }} €</td>
            
            <td> 
            <button nz-button nzType="primary" class="positive-action mb-5"  [nzSize]="size" title="modifier" [routerLink]="['/administration', 'modeles-equipements', 'modifier-modele',data.ID]"><span nz-icon nzType="edit"></span></button>
            <button nz-button nzType="primary" class="negative-action mb-5" [nzSize]="size" title="supprimer"  nz-popconfirm
            nzPopconfirmTitle=" Voulez-vous supprimer ce modèle ?"
            nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="deleteModeleEquipement(data.ID)"
            (nzOnCancel)="cancel()" ><span nz-icon nzType="delete"></span></button>
            </td>
        </tr>
        </tbody>
    </nz-table>
       

    <div class="mt-5">
      <fieldset>
        <legend>Tâches de {{userData?.Prenom}} {{userData?.Nom}}</legend>
            
          <div class="section-produit">
      
            <div class="section-import">
              <div class="input-link">
                <input type="file" #fileInputTaches (change)="onFileSelectedTaches($event)" />
                
              </div>
              
              <button nz-button nzType="primary" class="positive-action mb-5 mt-5" (click)="importerTaches()">Importer des tâches</button>
            </div> 
            
            <button nz-button nzType="primary" class="positive-action mb-5 mt-5" (click)="exporterTaches()">Exporter les tâches</button>
            <button nz-button nzType="primary" class="positive-action mb-5 mt-5" (click)="telecharger_modeleTaches()">Télécharger le modèle</button>
          </div> 
          
      </fieldset>
    </div>


    <nz-table #sortTableTaches [nzData]="listOfDisplayDataTaches" [nzPageSize]="50" nzTableLayout="fixed" [nzScroll]="{ x: '240px' }">
        <thead>
        <tr>
            <th *ngFor="let column of listOfColumnTaches" nzCustomFilter [nzSortOrder]="column.order" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
            {{ column.title }}
            </th>
            <th>
            Actions
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of sortTableTaches.data" >
            <td>{{ data.Label }}</td>
            <td>{{ data.Type }}</td>
            <td>{{ get_travail_title(data.TravailID) }}</td>
            <td>{{ data.Prix }} €</td>
            <td>{{ data.Ordre }} </td>
            
        
        
            
            <td> 
            <button nz-button nzType="primary" class="positive-action mb-5"  [nzSize]="sizeTaches" title="modifier" [routerLink]="['/administration', 'taches', 'modifier-tache',data.ID]"><span nz-icon nzType="edit"></span></button>
            <button nz-button nzType="primary" class="negative-action mb-5" [nzSize]="sizeTaches" title="supprimer"  nz-popconfirm
            nzPopconfirmTitle="Voulez-vous vraiment supprimer cette tache ?"
            nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="deleteTache(data.ID)"
            ><span nz-icon nzType="delete"></span></button>
            </td>
        </tr>
        </tbody>
    </nz-table>

</div>