<div>
    <h2>Modifier un modèle d'équipement</h2>   
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

        <!--
        
         <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="EquipementID"  >
                <span>Catégorie d'équipement</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <nz-select id="RoleId" formControlName="EquipementID"  nzPlaceHolder="Galerie d'images" >
                    <nz-option *ngFor="let option of equipements" [nzValue]="option.ID" [nzLabel]="option.Titre"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        -->


        

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="EquipementID"  nzRequired nzTooltipTitle="Type de gamme" >
                <span>Catégorie d'équipement </span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
            
                <nz-radio-group class="parent-container" id="EquipementID"  formControlName="EquipementID">

                    <ng-container *ngFor="let groupName of groupedTypeKeys()">
                        <div class="boxes" >
                            <div class="group-title">
                                {{ groupName }}
                            </div>

                            <label nz-radio  *ngFor="let type of groupedTypes[groupName]" [nzValue]="type.ID">
                            {{ type.Titre }}
                            </label>
                        </div>
                        
                    </ng-container>

                </nz-radio-group>
                
            </nz-form-control>
        </nz-form-item>
        

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="Titre">Titre</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Titre!">
            <input nz-input formControlName="Titre" id="Titre" />
          </nz-form-control>
        </nz-form-item>
        
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Description</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Description!">
              
              <editor apiKey="8td5ul2wc26xra2v25z7of2e63hg8gg3cf1f7egl0nj288h8"
                  id="tiny-editor"
                  formControlName="Description"
                  [init]="{
                    plugins: 'link image code',
                    toolbar: 'undo redo | bold italic | alignleft aligncenter alignright | code'
                  }"
                ></editor>
            </nz-form-control>
          </nz-form-item>
          <!--
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="Matiere"  >
                <span>Matiere</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <input nz-input id="Matiere" formControlName="Matiere" />
            </nz-form-control>
        </nz-form-item>
          -->
          
          <nz-form-item >
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="Image"  >
                <span>Image</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <a *ngIf="validateForm.controls.Image.value" [href]="apiUrl+validateForm.controls.Image.value" target="_blank">{{validateForm.controls.Image.value}}</a>
                <input type="text" id="Image" formControlName="Image" hidden />
                <input type="file" accept=".png,.jpeg,.jpg,.svg,.webp"  [attr.maxFileSize]="10 * 1024 * 1024" nz-upload  (change)="handleFileInput($event)" />                
                Formats autorisés: .png, .jpeg, .jpg et taille < 10 MB     
            </nz-form-control>
        </nz-form-item>

        
       
        <nz-form-item >
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="Prix"  >
                <span>Prix</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <nz-input-number id="Prix" formControlName="Prix" [nzMin]="1"  [nzStep]="1"></nz-input-number> 

            </nz-form-control>
        </nz-form-item>
        
        <nz-form-item >
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="Longeur"  >
                <span>Longeur</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <nz-input-number id="Longeur" formControlName="Longeur" [nzMin]="1"  [nzStep]="1"></nz-input-number> 

            </nz-form-control>
        </nz-form-item>
        <nz-form-item >
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="Largeur"  >
                <span>Largeur</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <nz-input-number id="Largeur" formControlName="Largeur" [nzMin]="1"  [nzStep]="1"></nz-input-number> 

            </nz-form-control>
        </nz-form-item>
        <nz-form-item >
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="Hauteur"  >
                <span>Hauteur</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <nz-input-number id="Hauteur" formControlName="Hauteur" [nzMin]="1"  [nzStep]="1"></nz-input-number> 

            </nz-form-control>
        </nz-form-item>
        <nz-form-item >
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="Epaisseur"  >
                <span>Epaisseur</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <nz-input-number id="Epaisseur" formControlName="Epaisseur" [nzMin]="1"  [nzStep]="1"></nz-input-number> 

            </nz-form-control>
        </nz-form-item>
        <nz-form-item >
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="NombreDeVasques"  >
                <span>Nombre De Vasques</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <nz-input-number id="NombreDeVasques" formControlName="NombreDeVasques" [nzMin]="1"  [nzStep]="1"></nz-input-number> 

            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="ActiverFournisseur" >
                <span>Cet article est-il lié à un fournisseur ? </span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <nz-switch id="ActiverFournisseur" formControlName="ActiverFournisseur"></nz-switch>
            </nz-form-control>
        </nz-form-item>

       <nz-form-item *ngIf="activerFournisseur()">
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="FournisseurID"  >
                <span>Fournisseur</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <nz-select id="FournisseurID" formControlName="FournisseurID"  nzPlaceHolder="Fournisseur" >
                    <nz-option *ngFor="let option of fournisseurs" [nzValue]="option.Id" [nzLabel]="option.Nom+' '+option.Prenom+' ('+option.RaisonSociale+')'"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

         <nz-form-item *ngIf="activerFournisseur()">
            <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="ModeleDeReferenceID"  >
                <span>Gamme de référence</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="remplissez ce champ">
                <nz-input-number id="ModeleDeReferenceID" formControlName="ModeleDeReferenceID"  ></nz-input-number> 
            </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-row class="register-area">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">Modifier</button>
          </nz-form-control>
        </nz-form-item>
      </form>
</div>