<h2>Formules et tests</h2>
<!--
<nz-collapse nzAccordion>
    @for (panel of panels; track panel) {
      <nz-collapse-panel [nzHeader]="panel.name" [nzActive]="panel.active" class="formule-accordeon">
        
        <div [innerHTML]="panel.content"></div>
      </nz-collapse-panel>
    }
</nz-collapse>
-->

<ul class="list">
  <li class="grid-2"><span>Pose de revêtements muraux </span> <button nz-button nzType="primary" class="positive-action mb-5"  nzSize="large"  [routerLink]="['/administration', 'formules-et-tests', 'revetements-muraux']">tester</button></li>
  <li class="grid-2"><span>Pose de revêtement sur plafond</span> <button nz-button nzType="primary" class="positive-action mb-5"  nzSize="large"  [routerLink]="['/administration', 'formules-et-tests', 'revetements-plafond']">tester</button></li>
  <li class="grid-2"><span>Rénovation électrique partielle</span> <button nz-button nzType="primary" class="positive-action mb-5"  nzSize="large"  [routerLink]="['/administration', 'formules-et-tests', 'renovation-electrique']">tester</button></li>
  <li class="grid-2"><span>Pose de revêtement de sol</span> <button nz-button nzType="primary" class="positive-action mb-5"  nzSize="large"  [routerLink]="['/administration', 'formules-et-tests', 'revetements-sol']">tester</button></li>
  <li class="grid-2"><span>Remplacement de portes</span> <button nz-button nzType="primary" class="positive-action mb-5"  nzSize="large"  [routerLink]="['/administration', 'formules-et-tests', 'remplacement-portes']">tester</button></li>
</ul>