<div class="width-800">
    <h3>Pose de revêtements muraux</h3>
        
        <form *ngIf="formulaire" [formGroup]="formulaire" (ngSubmit)="submit()" >
            <div>
                <div>
                   <label for="longueur">
                     Longueur (cm)
                     <span class="error-message">*</span> :
                   </label>
                   <input type="number" id="longueur" formControlName="longueur" min="1" max="10000"  required>
                   
                </div>
        
                <br>
        
                <div>
                  <label for="largeur">
                    Largeur (cm)
                    <span class="error-message">*</span> :
                  </label>
                  <input type="number" id="largeur" formControlName="largeur" min="1" max="10000"  required>
                 
                </div>
        
            </div>
        
           
            <div>
                <label class="">
                    Revêtement à déposer <span class="error-message">*</span>:
                </label> 
                <nz-radio-group formControlName="depose" class="flx-radio-row2">
                    <div *ngFor="let option of gammes_depose" class="parquet-option tooltip-srf">
                        <label nz-radio [nzValue]="option.ID +  ':' + option.Label+ ':' + option.Prix">
                            <span>  {{ option.Label }}</span>
                        </label>
                    </div>
                    <div  class="parquet-option ant-col tooltip-srf">
                        <label nz-radio nzValue="0:aucun:0">
                            <span>Aucun</span>
                        </label>
                    </div>
                </nz-radio-group>
            </div>

            <div class="mur-btn-div tooltip-srf">
                <div style="margin-right:auto;text-align: left;" >
                  <span class="mur-ttl">Quel est l'état de votre sol ?</span>
                </div>
            </div>
            <div nz-col nzSpan="12" class="" style="max-width: 100% !important;">
                <!-- <label for="etat">État du sol: </label> -->
                <nz-radio-group formControlName="etat" class="rd-grp-w">
                
                    <div>
                        <label nz-radio nzValue="Bon" style="padding-block: 10px;">
                            <span>Bon : grattage, réagreage</span>
                        </label>
                    </div>
                    <div>
                        <label nz-radio nzValue="abimé" style="padding-block: 10px;">
                            <span>Abimé :  rebouchage, réparation de fissures, réagreage</span>
                        </label>
                    </div>
                    <div>
                        <label nz-radio nzValue="Très abimé" style="padding-block: 10px;">
                            <span>Très abimé :  rebouchage, réparation de fissures, réagreage fibré</span>
                        </label>
                    </div>
                    <div>
                        <label nz-radio nzValue="Rattrapage de niveau" style="padding-block: 10px;">
                            <span>Rattrapage de niveau : chape</span>
                        </label>
                    </div>
                </nz-radio-group>
            </div>
               
             <!-- Choix du revêtement -->
<div>
    <label>Choix du nouveau revêtement</label>
    <nz-radio-group formControlName="gamme">
      <!-- Boucle sur chaque gamme -->
      <ng-container *ngFor="let gamme of [
        { label: 'Peinture de sol', options: gammes_peinture_sol },
        { label: 'Moquette', options: gamme_moquette_sol },
        { label: 'Sol souple', options: gammes_sol_souple },
        { label: 'Résine décorative', options: gamme_resine_decorative },
        { label: 'Carrelage', options: gammes_carrelage_sol },
        { label: 'Parquet Flottant', options: gammes_parquet_flottant },
        { label: 'Parquet Massif', options: gammes_parquet_massif }
      ]">
        <div>
          <label>{{ gamme.label }} :</label>
          <div *ngFor="let option of gamme.options">
            <label nz-radio [nzValue]="option.ID + ':' + option.Label + ':' + option.Prix">
              {{ option.Label }}
            </label>
          </div>
        </div>
      </ng-container>
  
      <!-- Autre -->
      <div>
        <label>Autre :</label>
        <label nz-radio nzValue="0:autre:0">autre</label>
      </div>
    </nz-radio-group>
  
  
  
    <!-- Champ "autre" -->
    <div >
      <label for="autre_gamme">Autre :</label>
      <input type="text" id="autre_gamme" formControlName="autre_gamme">
    </div>
  </div>
  
  <!-- Section Plinthes -->
  <div>
    <label>Faut-il des plinthes ?</label>
    <nz-radio-group formControlName="has_plinthes">
      <label nz-radio [nzValue]="true">Oui</label>
      <label nz-radio [nzValue]="false">Non</label>
    </nz-radio-group>
  
    <!-- Longueur linéaire -->
    <div >
      <label for="lineaire">Longueur totale des plinthes (cm) :</label>
      <input type="number" id="lineaire" formControlName="lineaire" min="1" max="10000">
      
    </div>
  
    <!-- Choix des plinthes -->
    <div >
      <nz-radio-group formControlName="plinthes">
        <!-- Plinthes bois -->
        <div>
          <label>Plinthes en bois :</label>
          <div *ngFor="let option of gammes_plithes_bois">
            <label nz-radio [nzValue]="option.ID + ':' + option.Label + ':' + option.Prix">
              {{ option.Label }}
            </label>
          </div>
        </div>
  
        <!-- Plinthes carrelage -->
        <div>
          <label>Plinthes avec carrelage :</label>
          <div *ngFor="let option of gammes_plithes_carrelage">
            <label nz-radio [nzValue]="option.ID + ':' + option.Label + ':' + option.Prix">
              {{ option.Label }}
            </label>
          </div>
        </div>
      </nz-radio-group>
    </div>
  </div>
  
                
        





        
            <button nz-button nzType="primary" class="positive-action mb-5" type="submit">Tester</button>
            <ng-container *ngIf="detailsCalcul">
                <div>
                  <span>Prix: {{ detailsCalcul.resultats[element.TravailSlug]?.prix }} €</span><br>
                  <span>Formule: </span><br>
                  <span [innerHTML]="detailsCalcul.resultats[element.TravailSlug]?.formule"></span>
                </div>
            </ng-container>
      </form>
    </div>
    
      